<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>나의 코스 보기</title>
<link rel="stylesheet" href="../../../assets/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="../../../assets/css/my-page.css">

</head>
<body>
	<div id="wrap">
		
		<!--메인 해더 자리 -->
		<div id="header">
			<img id="logo" src="../../../assets/image/main/logo.jpg">
			
			<div id="login">
				<ul>
					<li><a href="">회원가입</a></li>
					<li><a href="">로그인</a></li>
				</ul>
			</div> <!-- login -->
			
			<div id="nav">
				<ul>
					<li><a href="../together/together.html">함깨하기</a></li>
					<li><a href="../board/board.html">게시판</a></li>
					<li><a href="../best/best.html">베스트</a></li>
					<li><a href="../map/map.html">지도</a></li>
				</ul>
			</div> <!-- nav -->
		</div> <!-- header -->
		
		
		
		
		
		
		
		
		<div class="subHeader">
			<a href="./menubar.html"><img id="menuBar-open" src="../../../assets/image/my-page/menu.png"></a>
			<p id="title">마이페이지 <img id="myHome" src="../../../assets/image/my-page/house.png"></p>
		</div>
		
		
		
		
		
		
		<!-- 마이페이지 메뉴바 자리 -->
		
		
		
		
		<div class="resultView">
			<div class="resultList">
				<p id="listTitle">나의 코스 보기</p>
				<ol>
					<li>
						<a href="">
						  	<img id="courseImg" src="../../../assets/image/my-page/sample2.jpg">
						  	<div id="textBox">
								<p id="courseName">신나는 코스</p>
								<p id="courseInfo">22.07.01</p>
								<p id="courseInfo">조회수2 * 기록8</p>
						  	</div>
						</a>
					</li>
					<li>
						<a href="">
						  	<img id="courseImg" src="../../../assets/image/my-page/sample2.jpg">
						  	<div id="textBox">
								<p id="courseName">이건아닌데...</p>
								<p id="courseInfo">22.07.01</p>
								<p id="courseInfo">조회수2 * 기록8</p>
						  	</div>
						</a>
					</li>
					<li>
						<a href="">
						  	<img id="courseImg" src="../../../assets/image/my-page/sample.jpg">
						  	<div id="textBox">
								<p id="courseName">깐따삐야 가는 길</p>
								<p id="courseInfo">22.07.01</p>
								<p id="courseInfo">조회수2 * 기록8</p>
						  	</div>
					  	</a>
					</li>
					<li>
						<a href="">
						  	<img id="courseImg" src="../../../assets/image/my-page/sample3.jpg">
						  	<div id="textBox">
								<p id="courseName">집에 가는 길</p>
								<p id="courseInfo">22.07.01</p>
								<p id="courseInfo">조회수2 * 기록8</p>
						 	</div>
						</a>
					</li>
					
					
					
					
					<li>
						<a href="">
						  	<img id="courseImg" src="../../../assets/image/my-page/sample3.jpg">
						  	<div id="textBox">
								<p id="courseName">신나는 코스</p>
								<p id="courseInfo">22.07.01</p>
								<p id="courseInfo">조회수2 * 기록8</p>
						  	</div>
						</a>
					</li>
					<li>
						<a href="">
						  	<img id="courseImg" src="../../../assets/image/my-page/sample.jpg">
						  	<div id="textBox">
								<p id="courseName">이건아닌데...</p>
								<p id="courseInfo">22.07.01</p>
								<p id="courseInfo">조회수2 * 기록8</p>
						  	</div>
						</a>
					</li>
				</ol>
			</div>
		</div>
		
		
		
		
		
		
		
		
		
		
		
		
		<!-- 메인 푸터  자리-->
		
	
	</div>
	<!-- //center-content -->



</body>
</html>