<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>나의 코스 보기</title>
<link rel="stylesheet" href="../../../assets/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="../../../assets/css/my-page.css">

</head>
<body>
	<div id="wrap">
		
		<!--메인 해더 자리 -->
		<div id="header">
			<img id="logo" src="../../../assets/image/main/logo.jpg">
			
			<div id="login">
				<ul>
					<li><a href="">회원가입</a></li>
					<li><a href="">로그인</a></li>
				</ul>
			</div> <!-- login -->
			
			<div id="nav">
				<ul>
					<li><a href="../together/together.html">함깨하기</a></li>
					<li><a href="../board/board.html">게시판</a></li>
					<li><a href="../best/best.html">베스트</a></li>
					<li><a href="../map/map.html">지도</a></li>
				</ul>
			</div> <!-- nav -->
		</div> <!-- header -->
		
		
		
		
		
		
		
		
		<div class="subHeader">
			<a href="./menubar.html"><img id="menuBar-open" src="../../../assets/image/my-page/menu.png"></a>
			<p id="title">마이페이지 <img id="myHome" src="../../../assets/image/my-page/house.png"></p>
		</div>
		
		
		
		
		
		
		<!-- 마이페이지 메뉴바 자리 -->
		
		
		
		
		<div class="resultView">
			<div class="resultList">
				<p id="listTitle">나의 기록 보기</p>
				<div class="myReport">
					<div id="calendar">
						<div id="dateForm">
							<p id="calDate">2022년 3월</p>
							<input id="dateSearch" type="date">
						</div>
						<div id="calAPI">달력API</div>
					</div>
				
					
					<div id="reportList">
						<ul>
							<li id="listTitle">
								<p id="monthReport">이달의 기록</p><p id="todayReport">오늘의 기록</p>
							</li>
							<li id="reportContent">
								<img id="contentImg" src="../../../assets/image/my-page/sample.jpg">
								<p id="contentTitle">내가 여기 왔다감ㅋ</p>
								<p id="content">링거 맞고 뛰었다^^</p>
								<p id="contentDate">2022.07.18 &nbsp; 10:03</p>
							</li>
							<li id="reportContent">
								<img id="contentImg" src="../../../assets/image/my-page/sample.jpg">
								<p id="contentTitle">우앙우앙우앙</p>
								<p id="content">우앙우앙우앙^^</p>
								<p id="contentDate">2022.07.18 &nbsp; 10:03</p>
							</li>
							<li id="reportContent">
								<img id="contentImg" src="../../../assets/image/my-page/sample.jpg">
								<p id="contentTitle">산책 재밌다</p>
								<p id="content">산책 다녀왔는데 좋았네</p>
								<p id="contentDate">2022.07.18 &nbsp; 10:03</p>
							</li>
							<li id="reportContent">
								<img id="contentImg" src="../../../assets/image/my-page/sample.jpg">
								<p id="contentTitle">무더위</p>
								<p id="content">요즘 날씨 미친거 같다</p>
								<p id="contentDate">2022.07.18 &nbsp; 10:03</p>
							</li>
							<li id="reportContent">
								<img id="contentImg" src="../../../assets/image/my-page/sample.jpg">
								<p id="contentTitle">살려줘ㅠㅠ</p>
								<p id="content">html/css너무 귀찮다ㅠㅠ</p>
								<p id="contentDate">2022.07.18 &nbsp; 10:03</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
		
		
		
		
		
		
		
		
		
		
		<!-- 메인 푸터  자리-->
		
	
	</div>
	<!-- //center-content -->



</body>
</html>