<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>JOA Main</title>
<link href="../../../assets/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="../../../assets/css/main.css" rel="stylesheet"  type="text/css">

</head>
<body>

	<div id="header">
		<a href="../main/index.html"> 
		<img id="logo" src="../../../assets/image/main/logo.jpg"></a>

		<div id="login">
			<ul>
				<li><a href="">회원가입</a></li>
				<li><a href="">로그인</a></li>
			</ul>
		</div>
		<!-- login -->

		<div id="nav">
			<ul>
				<li><a href="../together/together.html">함께하기</a></li>
				<li><a href="../board/board.html">게시판</a></li>
				<li><a href="../best/best.html">베스트</a></li>
				<li><a href="../map/map.html">지도</a></li>
			</ul>
		</div>
		<!-- nav -->
	</div>
	<!-- header -->
	
<!------------------------- 날씨 api ------------------------>
	<div class="weather">
		<ul>
			<li class="city"></li>
			<li class="time">현재 시간 : </li>
			<li class="ctemp">온도 : </li>
			<li class="hightemp">최고 온도 : </li>
			<li class="lowtemp">최저 온도 : </li>
			<li class="humidity">습도 : </li>
			<li class="wind">풍속 : </li>
			<li class="icon"></li>
		</ul>
	</div>

<!------------------------- photo slider ------------------------>
	<div class="slide slide_wrap">
			<div class="slide_item item1"><img src="../../../assets/image/main/swiss.jpg">
			</div>
			<div class="slide_item item2"><img src="../../../assets/image/main/paris.jpg">
			</div>
			<div class="slide_item item3"><img src="../../../assets/image/main/parispark.jpg">
			</div>
			<div class="slide_item item4"><img src="../../../assets/image/main/busan.jpg">
			</div>

		<div class="slide_prev_button slide_button">◀</div>
		<div class="slide_next_button slide_button">▶</div>
		<ul class="slide_pagination"></ul>
	</div>

		<!------------------------- 글귀 ------------------------>
		
<div id="wrap">
		<div class="main-text">
			<p>살아 숨쉬는 자연에서 <br><br><br> 운동을 시작하다.
			</p>
			<br> <br> <br>
			<p>
				<span>J<marquee width="35px" height="15px" scrolldelay="400" direction="up">oyful</marquee> O<marquee width="45px" height="15px" scrolldelay="400" direction="up">utdoor</marquee> A<marquee width="40px" height="15px" scrolldelay="400" direction="up">ctivity</marquee></span>
			</p>
		</div>
</div>

	<!------------------------ footer ------------------------>
	<br>
	<div class="footer">
		<div class="footer-text">
			<p>주식회사 조아</p>
			<p>대표 : 최보승</p>
			<p>사업자 번호 : 123-456-789</p>
			<p>서울특별시 관악구 봉천동 862 - 1</p>
			<br>
			<p>고객센터 | 평일 9 : 30 ~ 18 : 30, 점심시간 : 12 : 00 ~ 13 : 00 (토, 일요일, 공휴일 휴무)</p>
			<p>Tel. 02 - 1111 - 1111</p>
			<p>Fax. 02 - 1111 - 1111</p>
			<p>Email. joa@joa.co.kr</p>
		</div>
		<br>
		<div class="footer-btn">
			<button id="footerbtn" type="button">자주묻는 질문</button>
			<button id="footerbtn" type="button">1:1 문의</button>
		</div>
		<br>
		<hr class="my-hr1">
		<p id="footer-Copyright">JOA, Inc. All rights reserved.</p>

	</div>

<script src="../../../assets/js/main/main.js"></script>
<script src="../../../assets/js/main/weather.js"></script>
</body>
</html>
