<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>JOA Main</title>
<link rel="stylesheet" href="../../../assets/main/joa.css" type="text/css">


</head>
<body>

	<header>
		<div id="main-header">
			<h1>
				<img src="C:\javaStudy\workspace_web\JOA\webapp\assets\images\joalogo.jpg" />
			</h1>
		</div>
		<!-- /header -->
		

	<nav>
		<div class="main-nav" id="main-navmenu">
			
			<div id="nav-content">
				<a href="/Map" class="Map_link"> 
				<span class="Map_name" data-hover>지도</span>
				</a>
			</div>

			<div id="nav-content">
				<a href="/Best" class="Best_link"> 
				<span class="Best_name" data-hover>베스트</span>
				</a>
			</div>

			<div id="nav-content">
				<a href="" class="Noticeboard_link"> 
				<span class="Noticeboard_name" data-hover>게시판</span>
				</a>
			</div>

			<div id="nav-content">
				<a href="" class="Noticeboard_link"> 
				<span class="Noticeboard_name" data-hover>함께하기</span>
				</a>
			</div>

		</div>
	</nav>
	<!-- /nav -->
	</header>
	
	
	<!-- photo slider -->
	<div class="slider">
		<input type="radio" name="slide" id="slide1" checked>
	    <input type="radio" name="slide" id="slide2">
	    <input type="radio" name="slide" id="slide3">
	    <input type="radio" name="slide" id="slide4">
	    	<ul class="imgs" id="imgholder">
				<li><img src="C:\javaStudy\workspace_web\JOA\webapp\assets\images\poo613.jpg"></li>
				<li><img src="C:\javaStudy\workspace_web\JOA\webapp\assets\images\sw1.jpg"></li>
				<li><img src="C:\javaStudy\workspace_web\JOA\webapp\assets\images\poo613.jpg"></li>
				<li><img src="C:\javaStudy\workspace_web\JOA\webapp\assets\images\sw1.jpg"></li>
			</ul>
			
			<div class="bullets">
		        <label for="slide1">&nbsp;</label>
		        <label for="slide2">&nbsp;</label>
		        <label for="slide3">&nbsp;</label>
		        <label for="slide4">&nbsp;</label>
   			</div>
	</div>
	<!-- /photo slider -->
	

	<div class="main-text">
		<p>
			<span>살아 숨쉬는 자연에서 운동을 시작하다.</span>
		</p>
		<br><br>
		<p>
			<span>Joyful Outdoor Activity</span>
		</p>
	</div>
	<!-- /text -->
	

	<br>
	<footer>
		<div id="footer">
			<p>주식회사 조아</p>
			<p>대표 : 최보승</p>
			<p>사업자 번호 : 123-456-789</p>
			<p>서울특별시 관악구 봉천동 862 - 1</p>
			<br>
			<p>고객센터 | 평일 9 : 30 ~ 18 : 30, 점심시간 : 12 : 00 ~ 13 : 00 (토, 일요일, 공휴일 휴무)</p>
			<p>Tel. 02 - 1111 - 1111</p>
			<p>Fax. 02 - 1111 - 1111</p>
			<p>Email. JOA@joa.co.kr</p>

			<button id="footer-btn">자주묻는 질문</button>
			<button id="footer-btn">1:1 문의</button>
		</div>
	</footer>
	<!-- /footer -->

</body>
</html>