<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, intial-scale=1.0">
<title>main test</title>
</head>
<body>

	<div class="hflex-item hitc" >
		<ul>
			<li class="weather"></li>
			<li class="city"></li>
			<li class="icon"></li>
		</ul>
	</div>
	
	
	

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

<script>
	
var time = document.getElementById(".wimg");
// 나중에 innerHTML로 날씨 이미지를 추가해줄 예정
var weather = document.querySelector(".weather");
// 나중에 innerText로 날씨정보를 넣어줄 예정
var city = document.querySelector(".city");
// 나중에 innerText로 지역정보를 넣어줄 예정
var API_KEY = "ddeb92652c34f9e77a6961c434afa555";
// API의 키를 변수로 저장

function onGeoOk(position) {//위치정보를 확인하면 실행할 함수 매개변수로 현재위치 넣어줌
	
var lat = position.coords.latitude;
// 현재 위치 정보의 위도 저장
var lon = position.coords.longitude;
// 현재 위치 정보의 경도 저장
var url = `https://api.openweathermap.org/data/2.5/weather?lat=${lat}&lon=${lon}&appid=ddeb92652c34f9e77a6961c434afa555&units=metric`;
    
	fetch(url) // url변수(URL)를 통해 fetch를 진행
      .then((response) => response.json()) // 응답 객체를 자바 스크립트 객체로 변환
      .then((data) => { 
    	  
      	city.innerText = data.name;
      	
      	weather.innerText = `${data.main.temp}`+"°C";
      	
      	var icon = data.weather[0].icon;
      	wimg.innerHTML = "<img src='http://openweathermap.org/img/wn/"+icon+".png'>";
      });
  console.log(url);
}
function onGeoError() { // 위치 정보 확인 못할때 실행할 함수
	alert("Can't find you. No weather for you.");
}
navigator.geolocation.getCurrentPosition(onGeoOk, onGeoError);
	
</script>

</body>
</html>