<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, intial-scale=1.0">
<title>main test</title>
</head>
<body>

<!------------------------- 날씨 api ------------------------>
	<div class="weather">
		<ul>
			<li class="city"></li>
			<li class="time">현재 시간 : </li>
			<li class="ctemp">온도 : </li>
			<li class="hightemp">최고 온도 : </li>
			<li class="lowtemp">최저 온도 : </li>
			<li class="humidity">습도 : </li>
			<li class="rain">강수량 : </li>
			<li class="wind">풍속 : </li>
			<li class="icon"></li>
		</ul>
	</div>
	

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

<!-- 날씨 api 구현 -->
<script>
$(document).ready(function(position){
	
	var lat = 37.5683;
	var lon = 126.9778;
	
	var options = {
		enableHighAccuracy : true,
		timeout : 5000,
		maximumAge : 0
	};
	function success(pos) {
		var crd = pos.coords;
		console.log('위도 : ' + crd.latitude);
		console.log('경도: ' + crd.longitude);
		lat = crd.latitude;
		lon = crd.longitude;
	};
	
	function error(err) {
		console.warn('ERROR(' + err.code + '): ' + err.message);
	};
	
	navigator.geolocation.getCurrentPosition(success, error, options);
	
	var wAPI = 'ddeb92652c34f9e77a6961c434afa555'
	//var url = 'https://api.openweathermap.org/data/2.5/weather?lat=' + lat + '&lon=' +lon+ '&appid=' + '9e59ce9dcb1014633e13dc6b7a7ffa54' + &units=metric';
	
	
    $.ajax({
		url: 'https://api.openweathermap.org/data/2.5/weather?lat=' + lat + '&lon=' + lon + '&appid=' + wAPI + '&units=metric',
        dataType: 'json',
        type: 'POST',
       	//data: {'lat' : LAT, 'lon' : LON},
        success:function(result){
        	
        	// 보여질 정보
        	$('.city').append(result.name);
			$('.ctemp').append(result.main.temp);
			$('.lowtemp').append(result.main.temp_min);
			$('.hightemp').append(result.main.temp_max);
			$('.humidity').append(result.main.humidity);
			$('.wind').append(result.wind.speed);
			
			//아이콘
			var wiconUrl = '<img src="http://openweathermap.org/img/wn/'+ result.weather[0].icon +
			'.png" alt="'+result.weather[0].description +'">'
			$('.icon').html(wiconUrl);
			
			//현재시간
			var ct = result.dt;
			
			function convertTime(t) {
				var ot = new Date(t * 1000);
				
				var hr = ot.getHours();
				var m = ot.getMinutes();
				var s = ot.getSeconds();
				var mo = ot.getMonth() + 1;
				var d = ot.getDate();
				
				//return ot;
				return mo + '월' + d + '일' + '  '+ hr + ':' + m + ':' + s;
			}
			
			var currentTime = convertTime(ct);
			$('.time').append(currentTime);
        	}
   		})
   		//console.log(url);
	});
	
</script>


</body>
</html>