<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>코스 정보 상세보기</title>
<!-- css -->
<link href="../../../assets/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="../../../assets/css/course_view.css">

<!-- 자바스크립트 -->
<script type="text/javascript" src="../../../assets/js/jquery/jquery-1.12.4.js"></script>
<script type="text/javascript" src="../../../assets/bootstrap/js/bootstrap.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<div id="wrap">

	<!-- 헤더 -->
	
	<div id="content">
		
		<!-- 지도 영역 -->
		<div id="map">
			<!-- 지도 -->
			<img src="../../../assets/image/course/map.jpg" width="100%">
		</div>
		
		
		<!-- 글 영역 -->
		<div class="course-view">
			<!-- 상단 탭 -->
			<div class="course-view-tap">
				<ul>
					<li class="tabbtn selected">
						<a href="">코스정보</a>
					</li>
					<li class="tabbtn">
						<a href="">기록보기</a>
					</li>
				</ul>
			</div>
			
			<!-- 코스 정보 -->
			<div class="course-view-info">
				<div class="course-info-content">
					<h2>코스제목</h2>
					<a href=""><span class="glyphicon glyphicon-pencil"></span></a>
					
					<img class="right" alt="즐겨찾기" src="../../../assets/image/main/star-off.png">
					
					<div class="article-info">
						<span class="bold">박깜이</span>
						<span>조회수 518</span>
						<span>22.07.18</span>
						<span>기록 8</span>
					</div>
					
					<div class="article-container">
						<div class="left">
							<img alt="산책" src="../../../assets/image/course/walk.png">
							<span>산책</span>
							
							<!-- <img alt="조깅" src="../../../assets/image/course/jog.png">
							<span>조깅</span>
							<img alt="러닝" src="../../../assets/image/course/run.png">
							<span>러닝</span>
							<img alt="마라톤" src="../../../assets/image/course/marathon.png">
							<span>마라톤</span>
							<img alt="자전거" src="../../../assets/image/course/bicycle.png">
							<span>자전거</span>
							<img alt="그림" src="../../../assets/image/course/drawing.png">
							<span>그림</span> -->
						</div>
						
						<div class="right">
							<img alt="시간" src="../../../assets/image/course/time.png">
							<span>30분</span>
						</div>
						
						<div class="left">
							<img alt="거리" src="../../../assets/image/course/distance.png">
							<span>2 km</span>
						</div>
						
						<div class="right">
							<img alt="난이도" src="../../../assets/image/course/difficulty.png">
							<span>어려움</span>
						</div>
					</div>
				</div>
				
				<!-- 통계그래프 -->
				<div class="record-status">
					<h3>일기 작성 현황</h3>
					<div class="graph-choose">
						<input type="radio" name="graph-choose" id="difficulty" value="diffi" checked>
						<label for="difficulty">난이도별</label>
						
						<input type="radio" name="graph-choose" id="event" value="evt">
						<label for="event">종목별</label>
					</div>
					
					<div id="graphs">
						<canvas id="myChart"></canvas>
						
					</div>
				</div>
				
				<!-- 하단버튼 -->
				<div id="course-info-btn">
					<a class="link-btn">후기 보러가기</a>
					<a class="like-btn">
						<img src="../../../assets/image/main/heart-off.png">
						<span>0</span>
					</a>
				</div>
			</div>
		</div>
		
	</div>
	
	
	<!-- 푸터 -->
	
</div>
<script>
	window.onload = function test() {
		console.log("tq");
		
		/* 종목별 그래프 */
		function event() {
			
			const labels = [
				'산책',
			    '조깅',
			    '러닝',
			    '마라톤',
			    '자전거',
			    '그림',
			  ];
			
			const data = {
			    labels: labels,
			    datasets: [{
			      label: '종목',
			      backgroundColor: 'rgb(50, 108, 249)',
			      borderColor: 'rgb(50, 108, 249)',
			      data: [0, 10, 5, 2, 20, 30, 45],
			    }]
			  };
			
			  const config = {
			    type: 'bar',
			    data: data,
			    options: {}
			  };
			  
			  const myChart = new Chart(
					document.getElementById('myChart'),
					config
				);
			  
			  myChart.destroy();
		}
		
		/* 난이도별 그래프 */
		function difficult() {
			
			const labels = [
				'쉬움',
			    '보통',
			    '어려움',
			  ];
			
			const data = {
			    labels: labels,
			    datasets: [{
			      label: '난이도',
			      backgroundColor: [
			    	  'rgb(255, 99, 132)',
			          'rgb(54, 162, 235)',
			          'rgb(255, 205, 86)'
			      ],
			      borderColor: 'rgb(255, 255, 255)',
			      data: [1, 10, 5],
			      hoverOffset: 4
			    }]
			  };
			
			  const config = {
			    type: 'doughnut',
			    data: data,
			    options: {}
			  };
			  
			  const myChart = new Chart(
					document.getElementById('myChart'),
					config
				);
			  myChart.destroy();
		}

		var ck = $('input[type=radio]:checked').val();
		console.log(ck);
		
		var graphs = document.getElementById("graphs");
		$('input:radio[name="graph-choose"]').change(function() {
			if($(this).val() === 'diffi') {
				event();
			} else if($(this).val() === 'evt') {
				
				difficult();
			}
		});
		
		
	};
</script>
</body>
</html>