<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>코스 정보 상세보기</title>
<!-- css -->
<link href="../../../assets/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="../../../assets/css/course.css">

<!-- 자바스크립트 -->
<script type="text/javascript" src="../../../assets/js/jquery/jquery-1.12.4.js"></script>
<script type="text/javascript" src="../../../assets/bootstrap/js/bootstrap.js"></script>
</head>
<body>

<div id="wrap">

	<!-- 헤더 -->
	
	<div id="content">
		
		<!-- 지도 영역 -->
		<div id="map">
			<!-- 지도 -->
			<img src="../../assets/img/map.jpg" height="569px">
		</div>
		
		
		<!-- 글 영역 -->
		<div class="course-info">
			<!-- 상단 탭 -->
			<div>
				<ul>
					<li>
						<a href="">코스정보</a>
					</li>
					<li>
						<a href="">기록보기</a>
					</li>
				</ul>
			</div>
			
			<!-- 코스 정보 -->
			<div class="info">
				<div class="course-info-content">
					<h1>코스제목</h1>
					<a href="">♠</a>
					<a href="">☆</a>
					<p><b>박깜이</b></p>
					<p>조회수</p>
					<p>22.07.18</p>
					<p>기록 8</p>
					
					<ul>
						<li>산책</li>
						<li>30분</li>
						<li>2km</li>
						<li>어려움</li>
					</ul>
				</div>
				
				<div class="course-stats">
					<h2>일기 작성 현황</h2>
					
					<div class="graph-doughnut">
						<p>난이도</p>
					</div>
					
					<div class="graph-bar">
						<p>종목</p>
					</div>
				</div>
				
				<div id="course-info-btn">
					<button>후기 보러가기</button>
					<button>♡ 0</button>
				</div>
			</div>
		</div>
		
	</div>
	
	
	<!-- 푸터 -->
	
</div>

</body>
</html>