<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<!-- css -->
<link href="../../../assets/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="../../../assets/css/course-write.css">

<!-- 자바스크립트 -->
<script type="text/javascript" src="../../../assets/js/jquery/jquery-1.12.4.js"></script>
<script type="text/javascript" src="../../../assets/bootstrap/js/bootstrap.js"></script>

<style>
.drag-over {background-color: #ff0;}
</style>
</head>
<body>
<div id="wrap">
	<div id="content">
	
		<div class="course-form">
			<h2>사진 등록2</h2>
			
			<div id="drop">
				<div id="course-pic">
					<div id="thumbnails">
						<img id="photo-icon" src="../../../assets/image/course/photo.png">
						<p class="pic-txt red">사진을 여기로 드래그 해주세요.</p>
						<p class="pic-txt">코스와 관련된 사진을 등록해주세요.</p>
					</div>
				</div>
			</div>
	
		
		<!-- 사진 등록 -->
		<div class="course-form">
			<h2>사진 등록</h2>
			
			<div id="course-pic-add">
				<div class="pic-list">
					
					<div class="pic-content">

						<img class="add-img" src="../../../assets/image/course/img1.jpg">
						<button class=""><img src="../../../assets/image/course/pic-cancel.png"></button>
					
					</div>
					<div class="pic-content">
						
						<img class="add-img" src="../../../assets/image/course/img2.jpg">
						<button class=""><img src="../../../assets/image/course/pic-cancel.png"></button>
					
					</div>
					<div class="pic-content">
						
						<img class="add-img" src="../../../assets/image/course/img3.jpg">
						<button class=""><img src="../../../assets/image/course/pic-cancel.png"></button>
					
					</div>
					
					<label class="pic-update" for="input-file">사진 추가하기</label>
					<input type="file" id="input-file">
				</div>
			</div>
		</div>
		
		</div>

	</div>
</div>
</body>
<script>


</script>
</html>