<!-- <%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
 -->

<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>마이페이지</title>
<link rel="stylesheet" href="../../../assets/css/myPage.css">

</head>
<body>
	<div id="wrap">
		
		<!--메인 해더 자리 -->
		<div class="header">헤더자리</div>
		
		
		<div class="subHeader">
			<img id="menuBar-open" src="../../../assets/image/myPage/menu.png">
			<p id="title">마이페이지 <img id="myHome" src="../../../assets/image/myPage/house.png"></p>
		</div>
		
		
		
		
		
		
		<!-- 마이페이지 메뉴바 자리 -->
		
		
		
		
		
		<div class="resultList">
			<p id="listTitle">최근 조회한 코스들</p>
			
			<ol>
				<li>
				  	<img id="imgBox" src="../../../assets/image/myPage/sample.jpg">
				  	<div id="textBox">
						<p id="courseName">신나는 코스</p>
						<p id="courseInfo">홍길동 * 2022-07-01</p>
				  	</div>
				</li>
				
				<li>
				  	<img id="imgBox" src="../../../assets/image/myPage/sample.jpg">
				  	<div id="textBox">
						<p id="courseName">이건아닌데...</p>
						<p id="courseInfo">고길동 * 2022-07-01</p>
				  	</div>
				</li>
				
				<li>
				  	<img id="imgBox" src="../../../assets/image/myPage/sample.jpg">
				  	<div id="textBox">
						<p id="courseName">깐따삐야행성으로 가는 길</p>
						<p id="courseInfo">둘리 * 2022-07-01</p>
				  	</div>
				</li>
				
				<li>
				  	<img id="imgBox" src="../../../assets/image/myPage/sample.jpg">
				  	<div id="textBox">
						<p id="courseName">집에 가는 길</p>
						<p id="courseInfo">김자바 * 2022-07-01</p>
				  	</div>
				</li>
			
			</ol>
		</div>
		
		
		
		
		<!-- <div class="resultList">
			<p id="listTitle">좋아요 한 코스들</p>
			
			<ol>
				<li>
				  	<img id="imgBox" src="../../../assets/image/myPage/sample.jpg">
				  	<div id="textBox">
						<p id="courseName">집에 가는 길</p>
						<p id="courseInfo">김자바 * 2022-07-01</p>
				  	</div>
				</li>
				
				<li>
				  	<img id="imgBox" src="../../../assets/image/myPage/sample.jpg">
				  	<div id="textBox">
						<p id="courseName">학원 가는 길</p>
						<p id="courseInfo">가나다 * 2022-07-01</p>
				  	</div>
				</li>
				
				<li>
				  	<img id="imgBox" src="../../../assets/image/myPage/sample.jpg">
				  	<div id="textBox">
						<p id="courseName">법원 가는 길</p>
						<p id="courseInfo">우영우 * 2022-07-01</p>
				  	</div>
				</li>
				
				<li>
				  	<img id="imgBox" src="../../../assets/image/myPage/sample.jpg">
				  	<div id="textBox">
						<p id="courseName">코스이름 없음</p>
						<p id="courseInfo">아무개 * 2022-07-01</p>
				  	</div>
				</li>
			
			</ol>
		</div> -->
		
		
		
		
		
		
		
		
		
		
		
		<!-- 메인 푸터  자리-->
		
	
	</div>
	<!-- //center-content -->



</body>
</html>