<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>메뉴바</title>
<link rel="stylesheet" href="../../assets/css/mypage.css">

</head>
<body>
	<div class="menuBar">
		<div class="menu1">
			<ol>
				<li id="mypage">마이페이지 <img id="myHome" src="../../assets/images/house.png"></li>
				<li id="list">나의 코스 보기</li>
				<li id="list">나의 기록 보기</li>
			</ol>
		</div>
		
		<div class="menu2">
			<ol>
				<li id="bookmark">즐겨찾기 <img id="bmStar" src="../../assets/images/star.png"></li>
				<li id="bookmark-btn">
					<img id="plus-btn" src="../../assets/images/plus.png">&nbsp; 
					<img id="minus-btn" src="../../assets/images/minus.png">
				</li>
				<li id="list">서울 근교 코스</li>
				<li id="list">웃겨 자빠질 코스</li>
				<li id="list">기어가는 코스</li>
			</ol>
		</div>
		
		<div class="menu3">
			<ol>
				<li id="members"><p>회원정보수정 <img id="setting" src="../../assets/images/setting.png"></p></li>
			</ol>
		</div>
	</div>

</body>
</html>