<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>지도</title>
	<link rel="stylesheet" href="../../../assets/css/map.css">
</head>
<body>
<div id="wrap">
	<div id="header">
		<img id="logo" src="../../../assets/image/main/logo.jpg">
		
		<div id="login">
			<ul>
				<li><a href="">회원가입</a></li>
				<li><a href="">로그인</a></li>
			</ul>
		</div> <!-- login -->
		
		<div id="nav">
			<ul>
				<li><a href="../together/together.html">함깨하기</a></li>
				<li><a href="../board/board.html">게시판</a></li>
				<li><a href="../best/best.html">베스트</a></li>
				<li><a href="../map/map.html">지도</a></li>
			</ul>
		</div> <!-- nav -->
	</div> <!-- header -->
	
	<div id="sub-header">
		<div id="searchbar">
			<img id="search-icon" src="">
			<input id="search-input" type="text">
			<button>지역</button>
			<button>제목</button>
		</div> <!-- searchbar -->
		<div id="filter-buttons">
			
		</div> <!-- filter-buttons -->
		<div id="filter">
			
		</div> <!-- filter -->
	</div> <!-- sub-header -->
	<div id="result-mask">
		<ul id="ul-result">
			<li class="result-list">
			<div class="result-container">
				
			</div> <!-- result-container -->
			</li>
		</ul>
	</div> <!-- result-mask -->
	<div id="map">
		
	</div> <!-- map -->
</div> <!-- wrap -->
</body>
</html>