<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>지도</title>
	<link rel="stylesheet" href="../../../assets/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="../../../assets/css/map.css">
</head>
<body>
<div id="wrap">
	<div id="header">
		<a href="../main/index.html"><img id="logo" src="../../../assets/image/main/logo.jpg"></a>
		
		<div id="login">
			<ul>
				<li><a href="">회원가입</a></li>
				<li><a href="">로그인</a></li>
			</ul>
		</div> <!-- login -->
		
		<div id="nav">
			<ul>
				<li><a href="../together/together.html">함깨하기</a></li>
				<li><a href="../board/board.html">게시판</a></li>
				<li><a href="../best/best.html">베스트</a></li>
				<li><a href="../map/map.html">지도</a></li>
			</ul>
		</div> <!-- nav -->
	</div> <!-- header -->
	
	<div id="sub-header">
		<div id="searchbar">
			<img class="search-icon" src="../../../assets/image/map/search.png">
			<input id="search-input" type="text">
			<button class="btn-blue">지역</button>
			<button class="btn-grey">제목</button>
		</div> <!-- searchbar -->
		<div id="filter-menu">
			<button class="fmenu">종목 <img class="down-icon" src="../../../assets/image/map/down.png"></button>
			<button class="fmenu">코스길이 <img class="down-icon" src="../../../assets/image/map/down.png"></button>
			<button class="fmenu">난이도 <img class="down-icon" src="../../../assets/image/map/down.png"></button>
		</div> <!-- filter-menu -->
		<div id="filter-buttons">
			
		</div> <!-- filter-buttons -->
	</div> <!-- sub-header -->
	
	<div id="content">
		<div id="result-list">
			<ul>
				<li>
					<div class="course-container">
						<div class="course-icon"><img src="../../../assets/image/map/map-icon.jpg"></div>
						<div class="course-info">
							<h3 class="course-title">헬 ^^</h3>
							<p class="p-info">
								작성자: 쿵야 <br>
								거리: 5.0km <br>
								시간: 40분
							</p>
							<div class="tag-blue"><p>런닝</p></div>
							<div class="tag-pink"><p>어려움</p></div>
						</div> <!-- course-info -->
					</div> <!-- course-container -->
				</li>
				<li>
					<div class="course-container">
						<div class="course-icon"><img src="../../../assets/image/map/map-icon.jpg"></div>
						<div class="course-info">
							<h3 class="course-title">넘 하기 싫다</h3>
							<br>
							<p class="p-info">
								작성자: 쿵야 <br>
								거리: 6.0km <br>
								시간: 50분
							</p>
							<div class="tag-blue"><p>조깅</p></div>
							<div class="tag-pink"><p>어려움</p></div>
						</div> <!-- course-info -->
					</div> <!-- course-container -->
				</li>
				<li>
					<div class="course-container">
						<div class="course-icon"><img src="../../../assets/image/map/map-icon.jpg"></div>
						<div class="course-info">
							<h3 class="course-title">언제 끝남</h3>
							<br>
							<p class="p-info">
								작성자: 쿵야 <br>
								거리: 7.0km <br>
								시간: 50분
							</p>
							<div class="tag-blue"><p>조깅</p></div>
							<div class="tag-pink"><p>어려움</p></div>
						</div> <!-- course-info -->
					</div> <!-- course-container -->
				</li>
				<li>
					<div class="course-container">
						<div class="course-icon"><img src="../../../assets/image/map/map-icon.jpg"></div>
						<div class="course-info">
							<h3 class="course-title">ㅠㅠ</h3>
							<br>
							<p class="p-info">
								작성자: 쿵야 <br>
								거리: 5.0km <br>
								종목: 런닝
							</p>
							<div class="tag-blue"><p>런닝</p></div>
							<div class="tag-pink"><p>어려움</p></div>
						</div> <!-- course-info -->
					</div> <!-- course-container -->
				</li>
			</ul>
		</div> <!-- result-mask -->
		<div id="map">
			<img src="../../../assets/image/map/map-sample.jpg">
		</div> <!-- map -->
	</div><!-- content -->
</div> <!-- wrap -->
</body>
</html>