<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>지도</title>
	<link rel="stylesheet" href="../../assets/css/map.css">
</head>
<body>
<div id="wrap">
	<div id="header">
		
	</div> <!-- header -->
	<div id="sub-header">
		<div id="searchbar">
			<img id="search-icon" src="">
			<input id="search-input" type="text">
			<button>지역</button>
			<button>제목</button>
		</div> <!-- searchbar -->
		<div id="filter-buttons">
			
		</div> <!-- filter-buttons -->
		<div id="filter">
			
		</div> <!-- filter -->
	</div> <!-- sub-header -->
	<div id="result-mask">
		<ul id="ul-result">
			<li class="result-list">
			<div class="result-container">
				
			</div> <!-- result-container -->
			</li>
		</ul>
	</div> <!-- result-mask -->
	<div id="map">
		
	</div> <!-- map -->
</div> <!-- wrap -->
</body>
</html>