<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="../../../assets/css/map.css">
</head>
<body>



				<div id="menu-dist" class="filter-menu">
					<div>
						<h3>거리</h3>
						<span class="values">
				            <span id="range1">
				                0
				            </span>
				            <span id="range-sign"> ~ </span>
				            <span id="range2">
				                50
				            </span>
				        </span>
			        </div>
					<div class="menu-range">
						<div class="slider-track"></div>
						<input id="slider-1" type="range" min="1" max="50" value="1" name="minDist" oninput="slideOne()">
						<input id="slider-2" type="range" min="1" max="50" value="50" name="maxDist" oninput="slideTwo()">
					</div>
				</div>
				


</body>
<script type="text/javascript" src="../../../assets/js/jquery/jquery-1.12.4.js"></script>
<script type="text/javascript" src="../../../assets/js/test.js"></script>
</html>