<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="../../../assets/css/bestplus.css"
	type="text/css">

</head>
<body>

	<div id="wrap">
		<div id="header">
			<a href="../main/index.html"><img id="logo"
				src="../../../assets/image/main/logo.jpg"></a>

			<div id="login">
				<ul>
					<li><a href="">회원가입</a></li>
					<li><a href="">로그인</a></li>
				</ul>
			</div>
			<!-- login -->

			<div id="nav">
				<ul>
					<li><a href="../together/together.html">함깨하기</a></li>
					<li><a href="../board/board.html">게시판</a></li>
					<li><a href="../best/best.html">베스트</a></li>
					<li><a href="../map/map.html">지도</a></li>
				</ul>
			</div>
			<!-- nav -->
		</div>
<!------------------------- header --------------------------->

		<h1>Best</h1>

		<!-- main list -->
		<table border="1">
			<tr>
				<td><a href="">좋아요</a></td>
				<td><a href="">즐겨찾기</a></td>
				<td><a href="">기록별</a></td>
			</tr>
		</table>

		<!-- 종목테그 -->
		<div class="best-mini-list">
			<p>총(개) : 15</p>

			<ul>
				<li><a href="">산책 | </a></li>
				<li><a href="">조깅 | </a></li>
				<li><a href="">런닝 | </a></li>
				<li><a href="">마라톤 | </a></li>
				<li><a href="">자전거 | </a></li>
				<li><a href="">뛰기 | </a></li>
				<li><a href="">그림그리기 </a></li>
			</ul>
		</div>

		<hr class="one">


		<!-- Top1~3 -->
		<div class="img-total">

			<div class="img-1">
				<p>
					Top 1 <img
						src="C:\javaStudy\JOA_GroupProject\webapp\assets\image\best\cgold.jpg" />
				</p>
				<p>
					Top 2 <img
						src="C:\javaStudy\JOA_GroupProject\webapp\assets\image\best\csilver.jpg" />
				</p>
				<p>
					Top 3 <img
						src="C:\javaStudy\JOA_GroupProject\webapp\assets\image\best\cbronze.jpg" />
				</p>
			</div>

			<br> <br> <br>

			<div class="img-line">
				<a href=""> <img
					src="C:\javaStudy\workspace_web\JOA\webapp\assets\images\poo613.jpg" />
				</a> <a href=""> <img
					src="C:\javaStudy\workspace_web\JOA\webapp\assets\images\poo613.jpg" />
				</a> <a href=""> <img
					src="C:\javaStudy\workspace_web\JOA\webapp\assets\images\poo613.jpg" />
				</a>
			</div>

		</div>

		<br> <br> <br>

		<hr class="one">

		<!-- Top4~6 -->


	</div>

</body>
</html>