<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet"  href="/javaStudy/workspace_web/JOA/assets/css/joa.css">

<style>

/* header */
h1 {
	font-size: 46px;
	font-weight: 700;
	margin: 80px, 0px, 64px, 0px;
	display: block;
	}


/* list */
.best-list {
	display: grid;
	 grid-template-columns: 200px 200px 200px;
	 grid-auto-rows: 100px;
	}
	

	
li {
	display: inline;
	}

.best-mini-list {
	font-size: 16px;
}

/* hr(nav) 라인 */
.one {
	width: 1079px;
	}

/* 이미지 */
img {
	width: 350px;
	height: 280px;
	}

/* Top1~3 */
h4 {
	float:left;
	margin-right:319px;
	}

</style>



</head>
<body>

<div id="wrap">

	<h1>Best</h1>

<!-- 
	<div class="best-list">
		<ul>
			<li>좋아요</li>
			<li>즐겨찾기</li>
			<li>기록별</li>
		</ul>
	</div>	 -->
	
	<div class="best-list">
		<div class="best-list2">좋아요</div>
		<div class="best-list2">즐겨찾기</div>
		<div class="best-list2">기록별</div>
	</div>	

	<div class="best-mini-list">
		<p>Total : {}</p>

		<ul>
			<li><a href="">산책 |</a></li>
			<li><a href="">조깅 |</a></li>
			<li><a href="">런닝 |</a></li>
			<li><a href="">마라톤 |</a></li>
			<li><a href="">자전거 |</a></li>
			<li><a href="">뛰기 |</a></li>
			<li><a href="">그림그리기 |</a></li>
		</ul>
	</div>

	<hr class="one">


	<!-- Top1~3 -->
	<div class="img-total">
	
		<div class="img-1">
			<h4>Top1</h4>
			<h4>Top1</h4>
			<h4>Top1</h4>
		</div>
		
		<br><br><br>
		
		<div style="float:left;" class="img-line">
			<a href=""> 
				<img src="C:\javaStudy\workspace_web\JOA\webapp\assets\images\poo613.jpg" />
			</a>
			<a href=""> 
				<img src="C:\javaStudy\workspace_web\JOA\webapp\assets\images\poo613.jpg" />
			</a>
			<a href=""> 
				<img src="C:\javaStudy\workspace_web\JOA\webapp\assets\images\poo613.jpg" />
			</a>
		</div>
				
	</div>
	
	<br><br><br>
	
	<hr class="one">

	<!-- Top4~6 -->
	
	
</div>	
	
</body>
</html>