<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet"  href="/javaStudy/workspace_web/JOA/assets/css/joa.css">

<style>

/* font size */
h3 {
	font-size: 20px;
}
	
.Go {
	font-size: 14px;
}
	
	
</style>









</head>
<body>

	<div id="wrap">
	
		<header>
		<div id="main-header">
			<h1>
				<img src="C:\javaStudy\workspace_web\JOA\webapp\assets\images\joalogo.jpg" />
			</h1>
		</div>
		<!-- /header -->
		

	<nav>
		<div class="main-nav" id="main-navmenu">
			
			<div id="nav-content">
				<a href="/Map" class="Map_link"> 
				<span class="Map_name" data-hover>지도</span>
				</a>
			</div>

			<div id="nav-content">
				<a href="/Best" class="Best_link"> 
				<span class="Best_name"	data-hover>베스트</span>
				</a>
			</div>

			<div id="nav-content">
				<a href="" class="Noticeboard_link"> 
				<span class="Noticeboard_name" data-hover>게시판</span>
				</a>
			</div>

			<div id="nav-content">
				<a href="" class="Noticeboard_link"> 
				<span class="Noticeboard_name" data-hover>함께하기</span>
				</a>
			</div>

		</div>
	</nav>
	<!-- /nav -->
	</header>
		<!-- /header -->

		<h3>☆ 좋아요 Best</h3>
		
			<div style='margin: 0 auto; width: 200px; float: right; text-align: center; border: 0;'>
   				<a href="" class="Go">Go &gt;</a>
			</div>
			
			<input type='button' class='btn-prev' name='btn-prev' value='<'>
	
			<img src="C:\javaStudy\workspace_web\JOA\webapp\assets\images\sakura1.jpg">
			<img src="C:\javaStudy\workspace_web\JOA\webapp\assets\images\sakura1.jpg">
			<img src="C:\javaStudy\workspace_web\JOA\webapp\assets\images\sakura1.jpg">
	
			<input type='button' class='btn-next' name='btn-next' value='>'>
			
			
		<h3>☆ 즐겨찾기 Best</h3>
		
			<div style='margin: 0 auto; width: 200px; float: right; text-align: center; border: 0;'>
   				<a href="" class="Go">Go &gt;</a>
			</div>
			
			<input type='button' class='btn-prev' name='btn-prev' value='<'>
	
			<img src="C:\javaStudy\workspace_web\JOA\webapp\assets\images\sakura1.jpg">
			<img src="C:\javaStudy\workspace_web\JOA\webapp\assets\images\sakura1.jpg">
			<img src="C:\javaStudy\workspace_web\JOA\webapp\assets\images\sakura1.jpg">
	
			<input type='button' class='btn-next' name='btn-next' value='>'>
			
			
		<h3>☆ 기록(후기) Best</h3>
		
			<div style='margin: 0 auto; width: 200px; float: right; text-align: center; border: 0;'>
   				<a href="" class="Go">Go &gt;</a>
			</div>
			
			<input type='button' class='btn-prev' name='btn-prev' value='<'>
	
			<img src="C:\javaStudy\workspace_web\JOA\webapp\assets\images\sakura1.jpg">
			<img src="C:\javaStudy\workspace_web\JOA\webapp\assets\images\sakura1.jpg">
			<img src="C:\javaStudy\workspace_web\JOA\webapp\assets\images\sakura1.jpg">
	
			<input type='button' class='btn-next' name='btn-next' value='>'>
			
			
		<!-- /context -->


		<!-- /footer -->
	</div>
</body>
</html>