<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="../../assets/css/together.css" rel="stylesheet" type="text/css">
</head>
<body>


	<div id="wrap">
	
		<h1>함께하기</h1>
		
		<div id="top_side">
			<ul>
				<li><a href="">전체</a> | </li>
				<li><a href="">진행중</a> | </li>
				<li><a href="">마감</a></li>
			</ul>
		</div>
			
			<br><br><br>
			
			<div id="">
				<div id="to_make">
					<button type="submit" id="together_make">함께하기 만들기</button>
				</div>
		
				<div id="rightside">
					<ul>
						<li><a href="">함께</a></li>
						<li><a href="">태그</a></li>
					</ul>
				</div>
			</div>
			
			<br><br><br>
			
				<div>
					<table>
						<thead>
							<tr>
								<th class="line_top">2022/07/24 - 2022/07/30</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>쭈쭈네 동네 한바퀴</th>
							</tr>
							<tr>
								<th>신림 - 잠실</th>
							</tr>
							<tr>
								<th class="line_bottom">
									산책
									<button type="submit">11/15</button>
								</th>
							</tr>
						</tbody>
					</table>
				</div><!-- table -->
				
				<div>
					<table>
						<thead>
							<tr>
								<th class="line_top">2022/07/24 - 2022/07/30</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>쭈쭈네 동네 한바퀴</th>
							</tr>
							<tr>
								<th>신림 - 잠실</th>
							</tr>
							<tr>
								<th class="line_bottom">
									산책
									<button type="submit">11/15</button>
								</th>
							</tr>
						</tbody>
					</table>
				</div><!-- table -->
	
				<div>
					<table>
						<thead>
							<tr>
								<th class="line_top">2022/07/24 - 2022/07/30</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>쭈쭈네 동네 한바퀴</th>
							</tr>
							<tr>
								<th>신림 - 잠실</th>
							</tr>
							<tr>
								<th class="line_bottom">
									산책
									<button type="submit">11/15</button>
								</th>
							</tr>
						</tbody>
					</table>
				</div><!-- table -->
				
				<br><br><br><br><br><br><br><br>
				
			<div>
				<button type="submit" id="more">⏷</button>
			</div>
			
	</div><!-- wrap -->


</body>
</html>