<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>함께하기 작성폼</title>
<!-- css -->
<link href="../../../assets/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="../../../assets/css/together-write.css">

<!-- 자바스크립트 -->
<script type="text/javascript" src="../../../assets/js/jquery/jquery-1.12.4.js"></script>
<script type="text/javascript" src="../../../assets/bootstrap/js/bootstrap.js"></script>
</head>
<body>


	<!-- 헤더 -->
	<div id="header">
			<a href="../main/index.html"><img id="logo" src="../../../assets/image/main/logo.jpg"></a>
			
			<div id="login">
				<ul>
					<li><a href="">회원가입</a></li>
					<li><a href="">로그인</a></li>
				</ul>
			</div> <!-- login -->
			
			<div id="nav">
				<ul>
					<li><a href="../together/together.html">함깨하기</a></li>
					<li><a href="../board/board.html">게시판</a></li>
					<li><a href="../best/best.html">베스트</a></li>
					<li><a href="../map/map.html">지도</a></li>
				</ul>
			</div> <!-- nav -->
		</div> <!-- header -->


<div id="wrap">
		
	<div id="content">
		<!-- 타이틀 -->
		<div>
			<h1 id="title">함께하기</h1>
		</div>
	
		
		<!-- 본문 -->
		
		<!-- 코스지정 -->
		<div class="together-form">
			<div class="map">
				<table>
					<colgroup>
						<col width="150px">
						<col width="100%">
					</colgroup>
				
					<tr>
						<th rowspan="4">코스 지정</th>
					</tr>
					
					<!-- 코스 불러오기 버튼 -->
					<tr>
						<td>
							<button type="button" id="course-load">
								<span class="glyphicon glyphicon-folder-open"></span>
								코스 불러오기
							</button>
						</td>
					</tr>
					
					<!-- 주소 검색 -->
					<tr>
						<td>
							
							<p class="guide">
								<span class="glyphicon glyphicon-info-sign"></span>
								주소를 검색하면 아래에 지도가 표시됩니다.
							</p>
							<form class="address-form">
								<input type="text" name="address">
								<button type="button" id="address-btn">주소검색</button>
							</form>
						</td>
					</tr>
					
					<!-- 지도 -->
					<tr>
						<td>
							<!-- 지도 -->
							<img src="../../../assets/image/course/map.jpg" height="615px">
						</td>
					</tr>
				
				</table>
			</div>
			<!-- 코스지정 -->
			
			
			
			<!-- 코스 정보 -->
			<div class="together-content">
				<h2>코스 정보</h2>
				
				<table>
				
					<colgroup>
						<col width="150px">
						<col width="100%">
					</colgroup>
					
					<tbody>
					
						<!-- 코스 이름 -->
						<tr>
							<th>코스 이름</th>
							<td><input type="text" class="txt-long"  name="courseName"></td>
						</tr>
						
						<!-- 종목 -->
						<tr>
							<th>종목</th>
							<td>
								<input type="radio" name="events" id="walk" checked>
								<label for="walk">산책</label>
								
								<input type="radio" name="events" id="jogging">
								<label for="jogging">조깅</label>
								
								<input type="radio" name="events" id="running">
								<label for="running">러닝</label>
								
								<input type="radio" name="events" id="marathon">
								<label for="marathon">마라톤</label>
								
								<input type="radio" name="events" id="bicycle">
								<label for="bicycle">자전거</label>
								
								<input type="radio" name="events" id="draw">
								<label for="draw">그림</label>
								
							</td>
						</tr>
						
						
						<!-- 코스 거리 -->
						<tr>
							<th>거리</th>
							<td>
								<div>
									<input type="text" class="txt-short">
	
									<input type="radio" name="distance" id="km" checked>
									<label for="km">km</label>
									
									<input type="radio" name="distance" id="m">
									<label for="m">m</label>
										
								</div>
							</td>
						</tr>
						
						
						<!-- 예상 시간 -->
						<tr>
							<th>예상 시간</th>
							<td>
								<input type="text" class="txt-short">
								<p>시간</p>
								<input type="text" class="txt-short">
								<p>분</p>
							</td>
						</tr>
						
						<!-- 예상 난이도 -->
						<tr>
							<th>예상 난이도</th>
							<td>
								<input type="radio" name="level" id="easy" checked>
								<label for="easy">쉬움</label>
								
								<input type="radio" name="level" id="nomal">
								<label for="nomal">보통</label>
								
								<input type="radio" name="level" id="hard">
								<label for="hard">어려움</label>
							</td>
						</tr>
						
						<!-- 코스 공개여부 -->
						<tr>
							<th>코스 공개여부</th>
							<td>
								<input type="radio" name="open-status" id="open" checked>
								<label for="open">공개</label>
								
								<input type="radio" name="open-status" id="close">
								<label for="close">비공개</label>
							</td>
						</tr>
						
						<!-- 모임 장소 -->
						<tr>
							<th>모임장소</th>
							<td>
								<input type="text" class="txt-long">
							</td>
						</tr>
						
						<!-- 인원 -->
						<tr>
							<th>인원</th>
							<td>
								<input type="number" name="personNum" value="1" min="1">
								<!-- 초기값:value="1", 최소:min="1", 최대: max="10" -->
							</td>
						</tr>
						
						<!-- 함께 하는 날 -->
						<tr>
							<th>함께 하는 날</th>
							<td>
								<input class="txt-short" type="date">
							</td>
						</tr>
						
						<!-- 상세내용 -->
						<tr>
							<th>상세내용</th>
							<td>
								<textarea placeholder="내용을 입력해주세요."></textarea>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- 코스 정보 -->
		</div>
		
		<!-- 하단 버튼 -->
		<div id="btn-wrap">
			<button class="cancel">취소</button>
			<button class="add">코스 등록</button>
		</div>
		
	</div>

	
</div><!-- wrap -->


<!-- 푸터 -->
	<div class="footer">
		<div class="footer-text">
			<p>주식회사 조아</p>
			<p>대표 : 최보승</p>
			<p>사업자 번호 : 123-456-789</p>
			<p>서울특별시 관악구 봉천동 862 - 1</p>
			<br>
			<p>고객센터 | 평일 9 : 30 ~ 18 : 30, 점심시간 : 12 : 00 ~ 13 : 00 (토, 일요일, 공휴일 휴무)</p>
			<p>tel. 02 - 1111 - 1111</p>
			<p>fax. 02 - 1111 - 1111</p>
			<p>email. joa@joa.co.kr</p>
		</div>
		<br>
		<div class="footer-btn">
			<button id="footerbtn" type="button" name="" value="">자주묻는 질문</button>
			<button id="footerbtn" type="button" name="" value="">1:1 문의</button>
		</div>
		<br>
		<hr class="my-hr1">
		<p id="footer-Copyright">JOA, Inc. All rights reserved.</p>

	</div> <!-- footer -->

</body>
</html>