<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="../../../assets/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="../../../assets/css/together.css" rel="stylesheet" type="text/css">
</head>
<body>


	<div id="wrap">
		<div id="header">
			<a href="../main/index.html"><img id="logo" src="../../../assets/image/main/logo.jpg"></a>
			
			<div id="login">
				<ul>
					<li><a href="">회원가입</a></li>
					<li><a href="">로그인</a></li>
				</ul>
			</div> <!-- login -->
			
			<div id="nav">
				<ul>
					<li><a href="../together/together.html">함깨하기</a></li>
					<li><a href="../board/board.html">게시판</a></li>
					<li><a href="../best/best.html">베스트</a></li>
					<li><a href="../map/map.html">지도</a></li>
				</ul>
			</div> <!-- nav -->
		</div> <!-- header -->
	
		<div id="content">
			<h1>함께하기</h1>
			
			
			<!-- 소분류 카테고리 -->
			<div id="top_side">
				<ul>
					<li><a href="">전체</a></li>
					<li>|</li>
					<li><a href="">진행중</a></li>
					<li>|</li>
					<li><a href="">마감</a></li>
				</ul>
			</div><!-- top_side -->
				
				
			<!-- 함께하기 만들기 버튼 -->
			<div id="together-nav">
				<div id="to_make">
					<button type="submit" id="together_make">함께하기 만들기</button>
				</div>
		
				<!-- 즐겨찾기와 참여한 항목 필터링 버튼 -->
				<div id="rightside">
					<ul>
						<li id="man_btn">
							<a href="">
								<span class="glyphicon glyphicon-user"></span> 함께
							</a>
						</li>
						<li id="tag_btn">
							<a href="">
								<span class="glyphicon glyphicon-bookmark"></span> 태그
							</a>
						</li>
					</ul>
				</div><!-- rightside -->
			</div><!-- together-nav -->
			
			
			<!-- 함께하기 리스트 -->
			<div id="list">
				<div class="chart">
					<table>
						<thead>
							<tr class="top">
								<th class="line_top">2022/07/24 - 2022/07/30</th>
								<th class="mark">
									<button class="bookmark">
										<img class="image" src="../../../assets/image/together/bookmarks_black.png">
									</button>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th colspan="2" class="content">쭈쭈네 동네 한바퀴</th>
							</tr>
							<tr>
								<th colspan="2" class="content_course"><span class="glyphicon glyphicon-map-marker" class="marking"></span>신림 - 잠실</th>
							</tr>
							<tr>
								<th colspan="2" class="line_bottom">
									산책
									<button type="submit" class="join"><span class="glyphicon glyphicon-user" id="join_icon"></span>11/15</button>
								</th>
							</tr>
						</tbody>
					</table>
				</div><!-- table(chart) -->
				
				<div class="chart">
					<table>
						<thead>
							<tr class="top">
								<th class="line_top">2022/07/24 - 2022/07/30</th>
								<th class="mark">
									<button class="bookmark">
										<img class="image" src="../../../assets/image/together/bookmarks_white.png">
									</button>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th colspan="2" class="content">쭈쭈네 동네 한바퀴</th>
							</tr>
							<tr>
								<th colspan="2" class="content_course"><span class="glyphicon glyphicon-map-marker" class="marking"></span>신림 - 잠실</th>
							</tr>
							<tr>
								<th colspan="2" class="line_bottom">
									산책
									<button type="submit" class="join"><span class="glyphicon glyphicon-user" id="join_icon"></span>11/15</button>
								</th>
							</tr>
						</tbody>
					</table>
				</div><!-- table(chart) -->
	
				<div class="chart">
					<table>
						<thead>
							<tr class="top">
								<th class="line_top">2022/07/24 - 2022/07/30</th>
								<th class="mark">
									<button class="bookmark">
										<img class="image" src="../../../assets/image/together/bookmarks_white.png">
									</button>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th colspan="2" class="content">쭈쭈네 동네 한바퀴</th>
							</tr>
							<tr>
								<th colspan="2" class="content_course"><span class="glyphicon glyphicon-map-marker" class="marking"></span>신림 - 잠실</th>
							</tr>
							<tr>
								<th colspan="2" class="line_bottom">
									산책
									<button type="submit" class="join"><span class="glyphicon glyphicon-user" id="join_icon"></span>11/15</button>
								</th>
							</tr>
						</tbody>
					</table>
				</div><!-- table(chart) -->
				
				<div class="chart">
					<table>
						<thead>
							<tr class="top">
								<th class="line_top">2022/07/24 - 2022/07/30</th>
								<th class="mark">
									<button class="bookmark">
										<img class="image" src="../../../assets/image/together/bookmarks_white.png">
									</button>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th colspan="2" class="content">쭈쭈네 동네 한바퀴</th>
							</tr>
							<tr>
								<th colspan="2" class="content_course"><span class="glyphicon glyphicon-map-marker" class="marking"></span>신림 - 잠실</th>
							</tr>
							<tr>
								<th colspan="2" class="line_bottom">
									산책
									<button type="submit" class="join"><span class="glyphicon glyphicon-user" id="join_icon"></span>11/15</button>
								</th>
							</tr>
						</tbody>
					</table>
				</div><!-- table(chart) -->
			</div>
			
		</div> <!-- content -->
	</div><!-- wrap -->


</body>
</html>