@charset "UTF-8";
@import "clearfix.css";
@import "includes.css";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/* ****************** 레이아웃 ****************** */
#wrap {max-width:1200px;}
#wrap>#content {padding: 10px 0px; margin-bottom: 150px;}

/*-------------------------------------------------------- 베스트 -------------------------------------------------------- */
/* context header */
#wrap h1{
	font-family: 'Nanum Gothic';
	font-size: 46px;
	font-weight: bold;
	text-align : center;
	margin: 80px, 0px, 64px, 0px;
	letter-spacing: -1px;
}

.img-line span {
	color: rgb(255, 52, 120);
}

#best-text {		/* 지역, 거리 */
	font-size: 14px;
	color:  rgb(101, 101, 101);
	text-align : center;
	margin-bottom: 50px;
	padding: 0px;	
}

.footer {
	clear: both;
}

.best {
	margin-right: 35px;
}

/* 사진 */
.best-listtext .best-list img {
	width: 350px;
	height: 280px;
	margin: 0px 0px 0px 30px;

}

.best-list {
	float: left;
	display: block;
}

.best {	/* 사진 가운데 정렬 */
	margin-left: 0px;	
}