@charset "UTF-8";
@import "clearfix.css";
@import "includes.css";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/* ****************** 레이아웃 ****************** */
#wrap {max-width:1200px;}
#wrap>#content {padding: 10px 0px; margin-bottom: 150px;}

/****************************header****************************/
#header {
	max-width: 100%;
	height: 80px;
	padding: 0px 20px;
	border-bottom: 1px solid rgb(174, 174, 174);
}

#header #logo {
	float: left;
	height: 60px;
	margin: 10px;
}

#header #nav ul li {
	float: right;
	font-size: 16px;
	margin-left: 40px;
	margin-top: 32px;
}

#header #login {
	float: right;
	height: 40px;
	width: 160px;
	margin: 20px 0px 20px 40px;
	border: 1px solid rgb(174, 174, 174);
}

#header #login ul li {
	float: right;
	margin: 13px 15px 13px 15px;
	font-size: 14px;
	font-weight: 700;
}

/*----------------------------------------------------- 베스트 상세페이지 ----------------------------------------------------- */
#wrap h1{
	font-family: 'Nanum Gothic';
	font-size: 46px;
	font-weight: bold;
	text-align : center;
	margin: 80px, 0px, 64px, 0px;
	letter-spacing: -1px;
}


/* main list */
table, tr, td {
	border: 1px solid rgb(50, 108, 249);
}

table {
	border:none;
	margin: 40px 0px 0px 300px;
	text-align: center;
	display: inline-block;
}

table td {
	padding: 20px 60px 20px;	
}

table td:hover {
	background-color: rgb(50, 108, 249);
	font-weight: bold;
}

table td a:hover {
	color: #ffffff;
}

/* 종목테그 */
.best-mini-list {
	font-size: 12px;
	float: right;
	margin: 50px 50px 10px;
}

.best-mini-list p {
	padding-left: 280px;
	padding-bottom: 5px; 
}

.best-mini-list ul{
	margin-left: 30px;
}

.best-mini-list li {
	display: inline;
	padding-left: 5px;
	}
	

/* hr(nav) 라인 */
.one {
	width: 1100px;
	}

/*------------------------- Top1~3 -------------------------*/
/* Top 글씨 */
.img-total .img-1 p {
	font-size: 20px;
	font-weight: bold;
	display: inline;
	margin-right:100px;
	margin-left: 175px;
	text-align: center;
	}
	
.img-total .img-1{		/* 왕관 */
	padding: 0px 20px 0px;
	}
	
.img-total .img-1 img{		/* 왕관 */
	width: 30px;
	height: 30px; 
	margin-top: 50px; 
}

/* 이미지 */
.img-line {
	display: block;
	margin-left: 40px;
}

.img-line img {
	width: 350px;
	height: 280px;
	margin: 0px 10px 0px 10px; 
}

/*----------------- 푸터 스타일 -----------------*/
.footer{
	justify-content: space-between;
	line-height: 18px;		/*줄 높이 설정값*/
	font-size: 12px;
	color: rgb(160, 160, 160);
	background-color: rgb(55, 55, 55);
	/* white-space: pre-wrap; 다방에 있어서 끌고 왔으나 와장창됨
		스페이스와 탭, 줄바꿈, 자동줄바꿈을 어떻게 처리할지 정하는 속성*/
}

.footer-text {
	padding-top: 20px;
	padding-left: 15px;

}

#footer-Copyright {
    display: block;
	line-height: 18px;		/*줄 높이 설정값*/
	margin-top: 20px;
	padding: 5px 0px 20px 15px;
}

.my-hr1 {
	border: 0;
	height: 1px;
	width : 99%;
	background-color: rgb(123, 118, 118);
}
/* ---------------------------- 푸터 버튼 -----------------------------------*/
.footer-btn{
	padding: 0px 9px;
	
}

#footerbtn {
	border: 0;
	outline: 0;
	border-radius: 2px;
	height: 30px;
	padding: 0px 9px;
	font-size: 12px;
	color: rgb(229, 229, 229);
	background-color: rgb(81, 81, 81);
}