@charset "UTF-8";
@import "clearfix.css";
@import "includes.css";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/* ****************** 레이아웃 ****************** */
#wrap {max-width:1200px;}
#wrap>#content {padding: 10px 0px; margin-bottom: 150px;}


/*--------------------------- 베스트 상세페이지 --------------------------- */
#wrap h1{
	font-family: 'Nanum Gothic';
	font-size: 46px;
	font-weight: bold;
	text-align : center;
	margin: 80px, 0px, 64px, 0px;
	letter-spacing: -1px;
	padding-top: 50px;	
}

/* ----------- main list(좋아요,즐찾,기록) ----------- */
table, tr, td {
	border: 1px solid;
}

table {
	border:none;
	margin: 40px 0px 0px 350px;
	text-align: center;
	display: inline-block;
}

table td {
	padding: 20px 60px 20px;	
}

table td:hover {
	background-color: #000000;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}


/* ------------- 종목테그 ------------- */
#cate-menu {
	width:100%;
	height: 100px;
}

.best-mini-list {
	font-size: 12px;
	float: right;
	margin: 50px 50px 10px;
}

.best-mini-list p {
	width:100%;
	text-align: right;
	padding-bottom: 5px; 
}

.best-mini-list ul{
	margin-left: 30px;
}

.best-mini-list li {
	display: inline;
	padding-left: 5px;
	}

.best-mini-list li span:hover {
	color: rgb(255, 52, 120);
	font-weight: bold;
}	

/* hr(nav) 라인 */
#hr {
	width: 1100px;
	margin-top:0px;
}

/*------------------------- Top1~3 -------------------------*/
.img-total .img-1{
	display: flex;
	justify-content: center;
	padding: 0px 20px 0px;
}

/* Top 1-3 글 */		
.img-total .img-1 p {
	font-size: 20px;
	font-weight: bold;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	margin-top: 30px;
}

/* new(1주일 이내 올라온 게시물 띄워주기) */
#new {
	color: rgb(255, 52, 120);
}
	
/* 왕관 이미지 */	
.img-total .img-1 img{
	width: 30px;
	height: 30px;
	margin-left: 10px;
}

/*--------------------- 이미지 ---------------------*/
.img-list {
	float: left;
	padding-left: 30px;
}

.img-line .img-cont {
	cursor: pointer;
	display: block;
	width: 350px;
	height: 280px;
}

.img-line img {
	width: 350px;
	height: 280px;
	object-fit: cover;
	display: block;
}

/* 이미지 확대 */
.img-line .img-cont:hover {
	transform: scale( 1.1 );
	opacity: 0.7;
}

.textbox {
	display: none;
	align-items: center;
	justify-content: center;
	width: 350px;
	height: 280px;
	position: absolute;
	z-index: 900;
	color: #000;
	font-size: 20px;
	font-family:verdana, sans-serif;
	text-align: center;
	font-weight: bold;
	background-color: rgba( 255, 255, 255, 0.5);
}

.img-line .img-cont:hover .textbox {
	display: flex;
}

/* 지역, 거리 설정*/
#best-text {		
	font-size: 14px;
	color:  rgb(101, 101, 101);
	display: block;
	text-align: center;
	margin: 10px 0px 10px 40px;
}

/*------------------------- 댓글 comment -------------------------*/
/* 기록 3개 반복문 */
.comment-text {
	width: 80px;
	padding: 0px 35px 50px;
	text-align: center;
	display: inline;
}

.comment-text input {
	margin-top: 3px;
}

.comment-text1{
	width: 340px;
	height: 0 auto;
	border:1px solid rgb(101, 101, 101);
	border-radius: 2px;
	margin-top: 3px;
	margin-left: 8px;
	padding: 2px;
	 overflow: visible;
}

/* 후기 좋아요 Total */
.button-ttl {
	margin-left: 20px;
	padding-bottom: 30px;
}

/* 후기 : _개 */
.button-ttl span {
	float: left;
	margin-top: 5px;
}

.button-ttl .imgbutton-text {
	margin-left: 3px;
	margin-right: 10px;
	color: 진한 회색 rgb(101, 101, 101);
}

/* 좋아요 개수 */
.imgbutton {
	margin-bottom: 20px;	
}

.imgbutton img {
	height: 18px;
	width: 18px;
	margin-top: 5px;
	float: left;
}

.imgbutton span {
	font-size: 14px;
	float: left;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 10px;
}

.bi bi-calendar4-week {
	margin-left: 10px;
}

.imgbutton-text{
	margin-left: 10px;
}

/*------------------------- Top 4~15 -------------------------*/

#img-line-p {
	font-weight: bold;
	font-size: 20px;
	text-align: left;
	width:170px;
	
	/* 위치 */
	margin-left: 40px;
	margin-top: 10px;
}

#img-line-span {
	color: rgb(255, 52, 120);
}

/* footer */
.footer {
	clear: both;
}