@charset "UTF-8";
@import "clearfix.css";
@import "includes.css";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/* ****************** 레이아웃 ****************** */
#wrap {max-width:1200px;}
#wrap>#content {padding: 10px 0px; margin-bottom: 150px;}

/****************************header****************************/
#header {
	max-width: 100%;
	height: 80px;
	padding: 0px 20px;
	border-bottom: 1px solid rgb(174, 174, 174);
}

#header #logo {
	float: left;
	height: 60px;
	margin: 10px;
}

#header #nav ul li {
	float: right;
	font-size: 16px;
	margin-left: 40px;
	margin-top: 32px;
}

#header #login {
	float: right;
	height: 40px;
	width: 160px;
	margin: 20px 0px 20px 40px;
	border: 1px solid rgb(174, 174, 174);
}

#header #login ul li {
	float: right;
	margin: 13px 15px 13px 15px;
	font-size: 14px;
	font-weight: 700;
}

/*-------------------------------------------------------- 베스트 -------------------------------------------------------- */
/* context header */
#wrap h1{
	font-family: 'Nanum Gothic';
	font-size: 46px;
	font-weight: bold;
	text-align : center;
	margin: 80px, 0px, 64px, 0px;
	letter-spacing: -1px;
}

#wrap h2 {
	font-size: 20px;
	font-weight: bold;
	margin-top: 70px;
	margin-bottom: 30px;
	padding: 10px 0px 10px 500px;
	border-top: 1px solid rgb(50, 108, 249);  
	border-bottom: 1px solid rgb(50, 108, 249); 
}

#wrap h2 span {
	color: rgb(255, 52, 120);
}

#best-text {		/* 지역, 거리 */
	font-size: 14px;
	color:  rgb(101, 101, 101);
	text-align : center;
	margin-bottom: 50px;
	padding: 0px;	
}


/* 더보기 Go 버튼 */
#Go { 			/* 위치 조정 */
	left: 0px;
	float: right;
	transform: translate(-30px, -10px);
	position: relative;
		
	/* 폰트 */
	font-size: 14px;
	color: rgb(50, 108, 249);
	font-weight: bold;
}

#h2-2 {			/* float 해제 */
	clear: both;
}

.footer {
	clear: both;
}

#Go img {
	width: 15px;
	height: 15px;
	margin: 0 0 0 10px;
}

.best {
	margin-right: 35px;
}

.btn-next {
	left: 400px;
	bottom: 190px;	
	transform: translate(-50%, -50%);
	position: relative;
	border: none;
}

.btn-prev {
	left: 10px;
	top: 180px;	
	transform: translate(-50%, -50%);
	position: relative;
	border: none;
}


/* 사진 */
.best-listtext .best-list img {
	width: 350px;
	height: 280px;
	margin: 0px 0px 0px 30px;

}

.best-list {
	float: left;
	display: block;
}

.best {	/* 사진 가운데 정렬 */
	margin-left: 0px;	
}


/*----------------------------------------- 푸터 스타일 --------------------------------------------*/
.footer{
	justify-content: space-between;
	line-height: 18px;
	font-size: 12px;
	color: rgb(160, 160, 160);
	background-color: rgb(55, 55, 55);
	/* white-space: pre-wrap; 다방에 있어서 끌고 왔으나 와장창됨
		스페이스와 탭, 줄바꿈, 자동줄바꿈을 어떻게 처리할지 정하는 속성*/
}

.footer-text {
	padding-top: 20px;
	padding-left: 15px;

}

#footer-Copyright {
    display: block;
	line-height: 18px;
	margin-top: 20px;
	padding: 5px 0px 20px 15px;
}

.my-hr1 {
	border: 0;
	height: 1px;
	width : 99%;
	background-color: rgb(123, 118, 118);
}
/* ---------------------------- 푸터 버튼 -----------------------------------*/
.footer-btn{
	padding: 0px 9px;
	
}

#footerbtn {
	border: 0;
	outline: 0;
	border-radius: 2px;
	height: 30px;
	padding: 0px 9px;
	font-size: 12px;
	color: rgb(229, 229, 229);
	background-color: rgb(81, 81, 81);
}
