@charset "UTF-8";
@import "clearfix.css";
@import "includes.css";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/* ****************** 레이아웃 ****************** */
#wrap {max-width:1200px;}
#wrap>#content {padding: 10px 0px; margin-bottom: 150px;}


/*--------------------------- 베스트 상세페이지 --------------------------- */
#wrap h1{
	font-family: 'Nanum Gothic';
	font-size: 46px;
	font-weight: bold;
	text-align : center;
	margin: 80px, 0px, 64px, 0px;
	letter-spacing: -1px;
	padding-top: 50px;	
}


/* ----------- main list(좋아요,즐찾,기록) ----------- */
table, tr, td {
	border: 1px solid;
}

table {
	border:none;
	margin: 40px 0px 0px 350px;
	text-align: center;
	display: inline-block;
}

table td {
	padding: 20px 60px 20px;	
}

table td:hover {
	background-color: #000000;
	font-weight: bold;
}

table td a:hover {
	color: #fff;
}

/* ------------- 종목테그 ------------- */
.best-mini-list {
	font-size: 12px;
	float: right;
	margin: 50px 50px 10px;
}

.best-mini-list p {
	padding-left: 280px;
	padding-bottom: 5px; 
}

.best-mini-list ul{
	margin-left: 30px;
}

.best-mini-list li {
	display: inline;
	padding-left: 5px;
	}

.best-mini-list li span:hover {
	color: rgb(255, 52, 120);
	font-weight: bold;
}	

/* hr(nav) 라인 */
#hr {
	width: 1100px;
}

/*------------------------- Top1~3 -------------------------*/
/* Top 1~3 폰트 */
.img-total .img-1{		
	padding: 0px 20px 0px;
}
	
.img-total .img-1 p {
	font-size: 20px;
	font-weight: bold;
	display: inline;
	margin-right:110px;
	margin-left: 175px;
	text-align: center;
}

/* new(1주일 이내 올라온 게시물 띄워주기) */
#new {
	color: rgb(255, 52, 120);
}
	
/* 왕관 이미지 */	
.img-total .img-1 img{
	width: 30px;
	height: 30px; 
	margin-top: 50px; 
}

/*--------------------- 이미지 ---------------------*/
.img-list {
	float: left;
	padding-left: 10px;
}

.img-line img {
	width: 350px;
	height: 280px;
	margin: 0px 0px 0px 30px;
	display: block;
}

/* 지역, 거리 설정*/
#best-text {		
	font-size: 14px;
	color:  rgb(101, 101, 101);
	display: block;
	text-align: center;
	margin: 10px 0px 10px 40px;
}

/*------------------------- 댓글 comment -------------------------*/
.comment-text {
	width: 80px;
	padding: 0px 35px 50px;
	text-align: left;
	display: block;
}
.comment-text input {
	margin-top: 3px;
}

/* 후기 : _개 */
#cbutton {		
	border: 1px solid rgb(50, 108, 249);
	background-color: #ffffff;
}

#cbutton:hover {
	font-weight: bold;
}

/*------------------------- Top 4~15 -------------------------*/

.img-total2 .img-line p {
	font-size: 20px;
	text-align: left;
	width:170px;
	
	/* 위치 */
	margin-left: 40px;
	margin-bottom: 20px;
}

.img-total2 .img-line p span {
	color: rgb(255, 52, 120);
}

/* footer */
.footer {
	clear: both;
}