@charset "UTF-8";
@import "clearfix.css";
@import "includes.css";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');


a:link {color: #000;}
a:visited {color: #000;}
a:hover {color: #000;}
a:active {color: #000;}

/******************** 게시판 머리글 ********************/

h1 {
	margin-left: 550px;
	margin: 80px 0px 64px 0px;
	font-size: 46px;
	font-family: 'Nanum Gothic';
	font-weight: 700;
	letter-spacing: -1px;
	text-align: center;
}

/********************** 페이지 **********************/

.ul, .ol, .li	{
	list-style-type: none;
	float: left;
	margin-left: 15px;
}
#page {
	margin-top: 50px;
	display: flex; /* 가운데 정렬 */
	justify-content: center; /* 가운데 정렬 */
}

/*********************** 검색 ***********************/

#top_aside {margin-left: 67.5%;}
#keyword {height: 20px}
/** 필터링 항목 **/
#option {
	width: 75px;
	height: 30px
}
#textbox {
	width: 230px;
	height: 30px
}
/** 검색 버튼 **/
#search {
	width: 50px;
	height: 30px;
	background-color: #fff;
	border-radius: 3px;
}

/******************** 게시판 테이블 ********************/

table {
	width: 80%;
	margin-left: 170px;
	border-top: solid 2px; 
	border-collapse: collapse;
}
th, td {
	border-bottom: solid 1px #ccc;
	height: 70px;
}
/** 게시글 제목 이외 것들 가운데, 중앙 정렬 **/
th, tr>.center {text-align: center;}
th, td {
	margin-top: 50px;
	vertical-align : middle;
}
.title_margin {margin-left: 10px;}
/** 글쓰기 버튼 **/
#write {
	width: 87px;
	height: 32px;
	margin-left: 85%;
	margin-top: 20px;
	background-color: #000;
	color: #fff;
	font-size : 10pt;
	border-radius: 5px;
}


