@charset "UTF-8";
@import "clearfix.css";
@import "includes.css";

/* =======================공통======================= */
body {font-size: 14px;}
.bold {font-weight: 700;}
.pointer {cursor: pointer;}
/* radio 버튼 초기화 */
input[type=radio] {display:none;}
/* =======================레이아웃======================= */
#wrap>#content {padding: 10px 0px; margin: auto; margin-bottom: 150px; max-width: 1200px;}
/* =======================타이틀======================= */
#wrap #title {
	margin: 80px 0px 64px 0px;
	font-size: 46px;
	font-family: 'Nanum Gothic';
	font-weight: 700;
	letter-spacing: -1px;
	text-align: center;
}

/* =======================content======================= */

/* p 태그 설정 */
#content .course-form p {
	display: inline-block;
	font-size: 15px;
	margin-right: 10px;
	padding: 0px;
}
#content .course-form .course-info p {
	width: 110px;
	line-height: 46px;
	text-align: right;
	font-weight: 700;
}
#content .course-form .course-info p::after {
	content: '|';
	color: #ccc;
	margin: 0px 10px;
	display: inline-block;
}

/* -----------------------테이블 설정---------------------- */
/* 테이블 선 */
#content .course-form table {
	margin-bottom: 50px;
	border: 1px solid rgb(204, 204, 204);
}

/* 테이블 타이틀 */
#content .course-form h2 {
	line-height: 60px;
	height: 60px;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	border: 1px solid rgb(204, 204, 204);
	border-bottom: none;
	margin-bottom: 0px;
}

/* 테이블 */
.course-form table tr th {
	height: 70px;
	min-width: 150px;
	color: rgb(34,34,34);
	font-size: 15px;
	font-weight: 700;
	background-color: rgb(240, 240, 240);
	border-top: 1px solid rgb(204, 204, 204);
	text-align: center;
	vertical-align: middle;
}
.course-form table tr td {
	padding: 12px 20px;
	border-top: 1px solid rgb(204, 204, 204);
}
.course-form .course-select th, .course-form .course-select td {
	border-top: none;
}


/* -------------------------텍스트박스----------------------------- */
.course-form input[type="text"] {
	height: 46px;
	padding: 0px 15px;
	box-sizing: border-box;
	border:  1px solid rgb(223, 223, 223);
}
.txt-long {width: 100%;}
.txt-short {width: 110px; margin: 0px 12px 0px 0px;}
input[name="address"] {width: 89%;}


/* ---------------------버튼설정-------------------- */
/* 검은색 버튼 */
.course-form #address-btn, .course-form #course-pic div label {
	border-radius: 3px;
	background-color: rgb(35, 45, 74);
	color: rgb(255, 255, 255);
	border-color: transparent;
}
/* 흰색 버튼 */
input[type="radio"]+label, #btn-wrap>button{
	padding: 0px 15px;
	color: rgb(102, 102, 102);
	border: 1px solid rgb(217, 217, 217);
	border-radius: 3px;
	background-color: rgb(255,255,255);
}
/* 파란색 버튼 */
input[type="radio"]:checked+label, #btn-wrap>.add, .blue {
	color: rgb(255,255,255);
	border-color: rgb(50, 108, 249);
	background-color: rgb(50, 108, 249);
}

/* 버튼 크기 */
/* radio */
input[type="radio"]+label {
	display: inline-block;
	text-align: center;
	width: 82px;
	line-height: 46px;
	margin-right: 12px;
}
input[type="radio"]+label img {
	vertical-align: middle;
}

/* 하단 버튼 */
#btn-wrap {text-align: center;}
#btn-wrap>button {
	width: 160px;
	line-height: 50px;
	font-size: 15px;
	display: inline-block;
	vertical-align: middle;
}
#btn-wrap>.add {margin-left: 12px;}




/* -------------------코스지정----------------------- */
.course-form input[name="address"] {width: 89%;}
.course-form .guide {color: rgb(136, 136, 136);}
.course-form .map-guide {margin-bottom: 12px; color: rgb(255, 52, 120);}
.course-form .address-form {margin: 15px 0px 10px 0px;}
.course-form #address-btn {
	width: 90px;
	height: 46px;
	margin-right: 10px;
}


/* -------------------코스정보----------------------- */
.course-form .course-info span {
	font-size: 16px;
	font-weight: 700;
}
.course-form .course-info > div {
	margin-bottom: 10px;
}
/* 지도이미지 (나중에 구글지도로 변경!!!) */
.course-form #map {
	width: 100%;
	height: 500px;
}
.course-form .time-guide {
	font-size: 15px;
	color: rgb(136, 136, 136);
	margin-bottom: 12px;
}

/* -------------------사진등록----------------------- */
/* 사진추가 드래그앤 드롭 */

.course-form #drop {
    width: 100%;
	height: 350px;
	background-color: rgb(224, 224, 224);
	padding: 10px;
	overflow: auto;
	margin-bottom: 50px;
}
/* 스크롤바 없애기 */
.course-form #drop::-webkit-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
	display: none; /* Chrome, Safari, Opera */
}
#thumbnails {margin: 15px;}
#thumbnails #course-pic {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
#thumbnails #course-pic #pic-main {
	padding: 60px 0px;
	width: 250px;
	height: 250px;
	text-align: center;
}
#thumbnails #course-pic #pic-main p {
	margin: 20px 0px 0px 0px;
}
/* 추가된 사진 */
#drop .pic-content {
	width: 220px;
	height: 145px;
	float: left;
	margin-bottom: 20px;
	margin-right: 10px;
}
#drop .pic-content > img {
	width: 190px;
	height: 140px;
	object-fit: cover;
	border: 3px solid rgb(255,255,255);
}
#drop .pic-content .close {
	width: 29px;
	height: 29px;
	border-radius: 50%;
	border: 3px solid rgb(255,255,255);
	float: right;
	background-color: rgb(255,255,255);
}
.red {color: rgb(239, 67, 81)};


/* 사진 없을때
.course-form #course-pic {
	width: 100%;
	height: 350px;
	background-color: rgb(224, 224, 224);
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
}
.course-form #course-pic div #photo-icon {
	display: block;
	margin: auto;
	width: 64px;
	height: 64px;
}
.course-form #course-pic div p {
	display: block;
	margin: 15px 0px 30px 0px;
}
파일선택 버튼 가리기
input[type="file"] {display: none;}
.course-form #course-pic div label {
	width: 123px;
	line-height: 40px;
}

사진 추가 했을때
.course-form #course-pic-add {
	width: 100%;
	height: 350px;
	background-color: rgb(224, 224, 224);
	padding: 10px;
	overflow: auto;
}
스크롤바 없애기
#course-pic-add::-webkit-scrollbar {
	-ms-overflow-style: none; IE and Edge
	scrollbar-width: none; Firefox
	display: none; Chrome, Safari, Opera
}
#course-pic-add .pic-list .pic-content {
	width: 233px;
	height: 145px;
	float: left;
	margin-bottom: 20px;
	margin-right: 10px;
}
#course-pic-add .pic-content button {
	width: 29px;
	height: 29px;
	border-radius: 50%;
	border: 3px solid rgb(255,255,255);
	float: right;

}
#course-pic-add .pic-content button img {
	transform: translate(-27%, -5%);
}
#course-pic-add .pic-list .pic-content .add-img {
	width: 204px;
	height: 145px;
	object-fit: cover;
	border: 3px solid rgb(255,255,255);
}
사진추가 버튼
#course-pic-add .pic-list .pic-update {
	width: 204px;
	line-height: 145px;
	float: left;
	border: 3px solid rgb(255,255,255);
	background-color: rgb(216, 216, 216);
	color: rgb(34,34,34);
	text-align: center;
} */




