@charset "UTF-8";
@import "clearfix.css";
@import "includes.css";

/* =======================공통======================= */
body {font-size: 14px;}
.bold {font-weight: 700;}
.pointer {cursor: pointer;}
/* radio 버튼 초기화 */
input[type=radio] {display:none;}
/* =======================레이아웃======================= */
#wrap>#content {padding: 10px 0px; margin: auto; margin-bottom: 150px; max-width: 1200px;}
/* =======================타이틀======================= */
#wrap #title {
	margin: 80px 0px 64px 0px;
	font-size: 46px;
	font-family: 'Nanum Gothic';
	font-weight: 700;
	letter-spacing: -1px;
	text-align: center;
}

/* =======================content======================= */

/* p 태그 설정 */
#content .course-form p {
	display: inline-block;
	font-size: 15px;
	margin-right: 10px;
	padding: 0px;
}
#content .course-form .course-info p {
	width: 110px;
	line-height: 46px;
	text-align: right;
	font-weight: 700;
}
#content .course-form .course-info p::after {
	content: '|';
	color: #ccc;
	margin: 0px 10px;
	display: inline-block;
}

/* -----------------------테이블 설정---------------------- */
/* 테이블 선 */
#content .course-form table {
	margin-bottom: 50px;
	border: 1px solid rgb(204, 204, 204);
}

/* 테이블 타이틀 */
#content .course-form h2 {
	line-height: 60px;
	height: 60px;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	border: 1px solid rgb(204, 204, 204);
	border-bottom: none;
	margin-bottom: 0px;
}

/* 테이블 */
.course-form table tr th {
	height: 70px;
	min-width: 150px;
	color: rgb(34,34,34);
	font-size: 15px;
	font-weight: 700;
	background-color: rgb(240, 240, 240);
	border-top: 1px solid rgb(204, 204, 204);
	text-align: center;
	vertical-align: middle;
}
.course-form table tr td {
	padding: 12px 20px;
	border-top: 1px solid rgb(204, 204, 204);
}
.course-form .course-select th, .course-form .course-select td {
	border-top: none;
}


/* -------------------------텍스트박스----------------------------- */
.course-form input[type="text"],
.course-form input[type="number"],
.course-form input[type="date"],
.course-form input[type="time"] {
	height: 46px;
	padding: 0px 15px;
	box-sizing: border-box;
	border:  1px solid rgb(223, 223, 223);
}
.txt-long {width: 100%;}
.txt-short {width: 110px; margin: 0px 12px 0px 0px;}
.datetime {width: 150px; margin: 0px 12px 0px 0px;}
input[name="address"] {width: 89%;}
input[type="datetime-local"] {border:  1px solid rgb(223, 223, 223);}


/* ---------------------버튼설정-------------------- */
/* 검은색 버튼 */
.course-form #address-btn, .course-form h2 label {
	border-radius: 3px;
	background-color: rgb(35, 45, 74);
	color: rgb(255, 255, 255);
	border-color: transparent;
}
/* 흰색 버튼 */
input[type="radio"]+label, #btn-wrap>.add, #btn-wrap>.cancel{
	padding: 0px 15px;
	color: rgb(102, 102, 102);
	border: 1px solid rgb(217, 217, 217);
	border-radius: 3px;
	background-color: rgb(255,255,255);
}
/* 파란색 버튼 */
input[type="radio"]:checked+label, #btn-wrap>.add, .blue {
	color: rgb(255,255,255);
	border-color: rgb(50, 108, 249);
	background-color: rgb(50, 108, 249);
}

/* 버튼 크기 */
/* radio */
input[type="radio"]+label {
	display: inline-block;
	text-align: center;
	width: 82px;
	line-height: 46px;
	margin-right: 12px;
}
input[type="radio"]+label img {
	vertical-align: middle;
}

/* 하단 버튼 */
#btn-wrap {text-align: center;}
#btn-wrap>.add, #btn-wrap>.cancel {
	width: 160px;
	line-height: 50px;
	font-size: 15px;
	display: inline-block;
	vertical-align: middle;
}
#btn-wrap>.add {margin-left: 12px;}




/* -------------------코스지정----------------------- */
.course-form input[name="address"] {width: 89%;}
.course-form .guide {color: rgb(136, 136, 136);}
.course-form .map-guide {margin-bottom: 12px; color: rgb(255, 52, 120);}
.course-form .address-form {margin: 15px 0px 10px 0px;}
.course-form #address-btn {
	width: 90px;
	height: 46px;
	margin-right: 10px;
}
.course-form #map {
	width: 100%;
	height: 500px;
}
.course-form .time-guide {
	font-size: 15px;
	color: rgb(136, 136, 136);
	margin-bottom: 12px;
}


/* -------------------코스정보----------------------- */
.course-form .courseInfo td {
	vertical-align: middle;
}
.course-form .course-info span {
	font-size: 16px;
	font-weight: 700;
}
.course-form .course-info > div {
	margin-bottom: 10px;
}
/* .course-form .course-info #map-info {
	
} */

/* -------------------사진등록----------------------- */
/* 사진추가 드래그앤 드롭 */
/* 파일선택 버튼 가리기 */
.course-form h2 input[type="file"] {display: none;}
.course-form h2 label {
	width: 123px;
	line-height: 40px;
	margin-right: 20px;
	font-size: 15px;
	text-align: center;
}
.course-form #drop {
    width: 100%;
	height: 350px;
	background-color: rgb(224, 224, 224);
	padding: 10px;
	overflow: auto;
	margin-bottom: 50px;
}
/* 사진 없을때 */
.course-form #drop #fileDragDesc {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 80px 0px
}
.course-form #drop #fileDragDesc #photo-icon {
	display: block;
	
}
.course-form #drop #fileDragDesc p {
	display: block;
	margin: 15px 0px 30px 0px;
}
/* 사진 있을때 */
#filesList .thumb {
	display: inline-block;
	width: auto;
	height: auto;
	margin: 10px;
}
#filesList .thumb span {
	background-color: rgb(255,255,255);
	border-radius: 50px;
}
#filesList .thumb img {
	width: 190px;
	height: 150px;
	object-fit: cover;
}
