@charset "UTF-8";
@import "main.css";

/* =======================공통======================= */
body {font-size: 14px;}
.pointer {cursor: pointer;}
.bold {font-weight: 700;}
/* radio 버튼 초기화 */
input[type=radio] {display:none;}
/* =======================레이아웃======================= */
#wrap {max-width:1200px;}
#wrap>#content {padding: 50px 0px; margin-bottom: 150px;}


/* =======================content======================= */
/* content 레이아웃 */
#content #map {
	float: left;
	width: 70%;
}
#content .course-view {
	float: right;
	width: 30%;
}


/* -----------------------상단탭------------------------- */
.course-view .course-view-tap {
	height: 60px;
}
.tabbtn {
	width: 180px;
	line-height: 60px;
	float: left;
	font-size: 16px;
	text-align: center;
	background-color: rgb(255,255,255);
	border-bottom: 1px solid black;
}
/* 검은색 버튼 */
.selected, .selected>a {
	background-color: rgb(34, 34, 34);
	color: rgb(255, 255, 255);
}

/* -----------------------본문------------------------- */
#content .course-view .course-view-info {
	padding: 0px 32px;
	width: 100%;
	height: 510px;
	/* 임시선 */
	border: 1px solid #ffff00;
}
.course-view-info .course-info-content {
	padding: 12px 0px 25px 0px;
	border-bottom: 1px solid rgb(101, 101, 101);
}

/* -------------------코스 정보------------------------ */
/* 타이틀 */
.course-info-content h2 {
	display: inline-block;
	line-height: 36px;
	font-size: 24px;
	font-weight: 700;
	letter-spacing: -0.5px;
	text-align:center;
	margin-bottom: 5px;
	
}
/* 이름, 글정보 */
.course-info-content .article-info {
	text-align: left;
	margin-bottom: 20px;
}
.course-info-content .article-info span {
	margin-right: 8px;
	color: rgb(101, 101, 101);
}

/* 코스 정보 컨테이너 */
.course-info-content .article-container {
	width: 100%;
	height: 80px;
}
.course-info-content .article-container div {
	width: 50%;
	height: 50%;
	padding: 5px;
}
.left {float: left;}
.right {clear: right; float: right;}
.course-info-content .article-container img {vertical-align: middle;}
.course-info-content .article-container span {
	font-size: 16px;
	font-weight: 700;
	padding-left: 5px;
}

/* ---------------------기록 정보----------------------- */
.course-view-info .record-status {
	padding: 20px 0px;
}
.record-status h3 {
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 15px;
}
.record-status .graph {
	height: 140px;
}
.record-status .graph div {
	width: 50%;
	height: 100%;
	border: 1px solid;
}

/* --------------------하단 버튼------------------------ */
#course-info-btn .link-btn {
	width: 209px;
	height: 56px;
	font-size: 16px;
	color: rgb(255,255,255);
	border-color: rgb(50, 108, 249);
	background-color: rgb(50, 108, 249);
}
#course-info-btn .like-btn {
	width: 75px;
	height: 54px;
	background-color: rgb(255,255,255);
	border: 1px solid black;
	text-align: center;
	vertical-align: middle;
}