@charset "UTF-8";
@import "clearfix.css";
@import "includes.css";

/* =======================공통======================= */
body {font-size: 14px;}
.pointer {cursor: pointer;}
.bold {font-weight: 700;}
/* radio 버튼 초기화 */
input[type=radio] {display:none;}
/* =======================레이아웃======================= */
#wrap>#content {padding: 100px 0px; margin: auto; margin-bottom: 150px; max-width: 1200px;}


/* =======================content======================= */
/* content 레이아웃 */
#content #view-content {/* height:620px; */ overflow: auto;}
#content #map-info {
	display: inline-block;
}
#content .course-view {
	float: right;
	width: 30%;
	vertical-align: middle;
}


/* -----------------------상단탭------------------------- */
.course-view .course-view-tap {
	height: 60px;
}
.course-view-tap ul li {float:left;}
.tabbtn {
	display: inline-block;
	width: 180px;
	line-height: 60px;
	/* color: rgb(34, 34, 34); */
	font-size: 16px;
	text-align: center;
	background-color: rgb(255,255,255);
	border: 1px solid rgb(174, 174, 174);
}
/* 검은색 버튼 */
.selected, .selected:visited {
	background-color: rgb(34, 34, 34);
	color: rgb(255, 255, 255);
}

/* -----------------------본문------------------------- */
#content .course-view .course-view-info {
	padding: 20px 32px;
	width: 100%;
	height: 600px;
	/* height: auto; */
	border: 1px solid rgb(174, 174, 174);
}

/* ===================================코스 정보==================================== */
/* 레이아웃 */
.course-view-info .course-info-content {
	padding-bottom: 25px;
	border-bottom: 1px solid rgb(101, 101, 101);
	height: 190px;
}
.course-view-info .record-status {
	height: 300px;
	/* height: auto; */
	padding: 20px 0px;
}
.course-view-info .course-info-btn {
	height: 60px;
	position: fixed;
	bottom: 0;
}
/* 타이틀 */
.course-info-content h2 {
	display: inline-block;
	line-height: 36px;
	font-size: 24px;
	font-weight: 700;
	letter-spacing: -0.5px;
	text-align:center;
	margin-bottom: 5px;
}
.course-info-content h2 img {
	width: 24px;
	height: 24px;
	margin-right: 10px;
}
.course-info-content #bookmark {
	position: relative;
	top: 5px;
}
/* 이름, 글정보 */
.course-info-content .article-info {
	text-align: left;
	margin-bottom: 20px;
}
.course-info-content .article-info span {
	margin-right: 8px;
	color: rgb(101, 101, 101);
}

/* 코스 정보 컨테이너 */
.course-info-content .article-container {
	width: 100%;
	height: 80px;
}
.course-info-content .article-container div {
	width: 50%;
	height: 50%;
	padding: 5px;
}
.left {float: left;}
.right {clear: right; float: right;}
.course-info-content .article-container img {vertical-align: middle;}
.course-info-content .article-container span {
	font-size: 16px;
	font-weight: 700;
	padding-left: 5px;
}

/* ---------------------기록 정보 (그래프)----------------------- */
.record-status h3 {
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	margin-right: 10px;
	margin-bottom: 15px;
}
/* 그래프 선택 버튼 */
.record-status .chart-choose {float: right;}
.record-status .chart-choose label {color: rgb(170, 170, 170); margin-left:5px;}
.record-status .chart-choose input[type="radio"]:checked + label {color: black;	font-weight: 700;}

.record-status #charts {
	width: 100%;
	height: 220px;
	position: relative;
}

/* ---------------------모달창 공통(코스제목, 즐겨찾기)----------------------- */
.modal-header {text-align: center;}
.modal-header .modal-title {
	font-size: 18px;
	font-weight: 700;
	text-align: center;
}
.modal-dialog {
	width: 300px;
	height: auto;
	position: fixed;
	top: 20%;
	left: 40%;
	transform: translate(-50%, -50%);
}
.modal-body {
	padding: 16px 24px;
	text-align: left;
}

/* ---------------------코스제목 수정(모달창)----------------------- */
.modal-body #modTitle {
	width: 100%;
	height: 40px; 
	font-size: 14px;
}
.modal-footer .btn-primary {
	background-color: rgb(50, 108, 249);
	color: rgb(255, 255, 255);
}

/* ---------------------즐겨찾기 추가(모달창)----------------------- */
#bookmark-list .modal-header .modal-title {
	display: inline-block;
}
#bookmark-list .modal-header img {
	position:relative;
	top: 5px;
}
#bookmark-list .modal-body ul li {
	margin: 10px auto;
	vertical-align: middle;
}
#bookmark-list .modal-body ul li div {
	display: inline-block;
}
#bookmark-list .modal-body input[type="checkbox"] {
	width: 20px;
	height: 20px;
	margin-right: 10px;
	border-width: thick;
	position: relative;
	top: 1.5px;
}
#bookmark-list .modal-body label {
	font-size: 15px;
	position: relative;
	top: -1.5px;
}


/* ===================================코스 정보==================================== */


/* ===================================기록보기==================================== */
/* 레이아웃 */
.course-view-info .record-filter {
	height: 20px;
}
.course-view-info .record-info-content {
	height: 460px;
	overflow: auto;
}
.record-info-content::-webkit-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
	display: none; /* Chrome, Safari, Opera */
}
.course-view-info .course-info-btn {
	height: 60px;
	position: fixed;
	bottom: 0;
}
/* 기록 필터 */
.record-filter {margin-bottom: 10px;}
.course-view-info .record-filter label {
	font-size: 16px;
	margin-right: 20px;
	color: rgb(170, 170, 170);
}
.course-view-info .record-filter input[type="radio"]:checked+label {
	color: black;
	font-size: 17px;
	font-weight: 700;
}

/* 기록리스트 */
/* 레이아웃 */
.record-info-content .record-full-content {
	width: 100%;
	height: auto;
	margin-bottom: 15px;
	border: 1px solid transparent;
}
.record-info-content .record-full-content {
	display: flex;
	justify-content: space-between;
	vertical-align: baseline;
}
.record-info-content .record-full-content .record-txt .record-content {
	padding-bottom: 5px;
	width: 270px;
}
.record-txt .record-content .name {margin-right: 5px;}
/* .record-txt .record-info {
	display: inline-flex;
	align-items: center;
	justify-content: center;
} */

/* .record-txt .record-info div {
	float: left;
} */

/* 글씨 */
.record-txt .record-info span {
	font-size: 12px;
	color: rgb(101, 101, 101);
	margin-right: 7px;
}
/* 글쓴이 아이콘 */
.record-txt .record-info span img {
	margin-right: 3px;
	width: 20px;
	height: 20px;
}
/* 박스 설정 */
.record-txt .record-info .box {
	
	height: 16px;
	border-radius: 10px;
	text-align: center;
	color: rgb(255,255,255);
	font-weight: 700;
	display: inline-block;
}
.pink {background-color: rgb(255, 52, 120); width: 48px;}
.blue {background-color: rgb(50, 108, 249); width: 80px;}
/* 날씨 아이콘 */
.record-txt .record-info span .weather {
	position: relative;
	top: 6px;
}

/* 기록 사진 */
.record-img .recordImg {
	width: 24px;
	height: 24px;
	object-fit: cover;
}
/* 로그인 안됐을때 글씨 */
.record-info-content .record-list .message {
	font-size: 20px;
	font-weight: 700;
	color: rgb(50, 108, 249);
	text-align: center;
	padding-top: 20px;
}
/* 기록 없을때 글씨 */
.record-info-content .record-list .noRec {
	font-size: 20px;
	font-weight: 700;
	padding-top: 20px;
}


/* ===================================기록보기==================================== */

/* --------------------하단 버튼------------------------ */
#course-info-btn {
	vertical-align: bottom;
}
#course-info-btn a {
	font-size: 16px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: black;
}
#course-info-btn .link-btn {
	width: 209px;
	height: 56px;
	color: rgb(255,255,255);
	background-color: rgb(50, 108, 249);
}
#course-info-btn .like-btn {
	float: right;
	width: 75px;
	height: 54px;
	background-color: rgb(255,255,255);
	border: 1px solid black;
	
}

#course-info-btn .like-btn span {
	padding-left: 5px;
}