@charset "UTF-8";

/***************************** 레이아웃 ****************************/
/*
#content {max-width:1200px;}
#wrap>#content {padding: 10px 0px; margin-bottom: 150px;}

/**************************** header ****************************/
#header {
	max-width: 100%;
	height: 80px;
	padding: 0px 20px;
	border-bottom: 1px solid rgb(174, 174, 174);
}

#header #logo {
	float: left;
	height: 60px;
	margin: 10px;
}

/* 내비 */
#header #nav ul li {
	float: right;
	height: 80px;
	display: flex; /* for center-align */
	align-items: center; /* align vertical */
	font-size: 16px;
	margin-left: 40px;
}

/* 로그인 회원가입 */
#header #login {
	float: right;
	height: 40px;
	width: 160px;
	margin: 20px 0px 20px 40px;
	border: 1px solid rgb(174, 174, 174);
}

#header #login ul li {
	float: right;
	display: flex; /* for center-align */
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	width: 79px;
	height: 40px;
	font-size: 14px;
	font-weight: 700;
}





/* ----------- 로그인 후 헤더 변환 ----------- */
/* 메뉴 펼침 - 체크박스 체크되면 메뉴목록 표시 */
#check-btn { 
	display: none;
}

/* 사용자 이름 설정 */
.login {	
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	font-weight: 700;
	background-color: rgb(174, 174, 174);
}

#check-btn label {
	text-align: center;
	display: block; 
}

#check-btn:checked ~ .menubars { 
	display: block; 
} 

.menubars { 
	display: none; 
	margin-top: 100px;
}

/* 로그인 후 펼친 메뉴 설정 */
.menubars li {
	background-color: #99ccff;
	text-align: center;
	height: 25px;
	width: 120px;
	border: 1px solid rgb(174, 174, 174);
}

#header #login {
	float: right;
	height: 40px;
	width: 160px;
	margin: 20px 0px 20px 40px;
	border: 1px solid rgb(174, 174, 174);
}

/**************************** footer ****************************/

/* 푸터 스타일 */
.footer{
	justify-content: space-between;
	line-height: 18px;		/*줄 높이 설정값*/
	font-size: 12px;
	color: rgb(160, 160, 160);
	background-color: rgb(55, 55, 55);
	/* white-space: pre-wrap; 다방에 있어서 끌고 왔으나 와장창됨
		스페이스와 탭, 줄바꿈, 자동줄바꿈을 어떻게 처리할지 정하는 속성*/
}

.footer-text {
	padding-top: 20px;
	padding-left: 15px;

}

#footer-Copyright {
    display: block;
	line-height: 18px;		/*줄 높이 설정값*/
	margin-top: 20px;
	padding: 5px 0px 20px 15px;
}

.my-hr1 {
	border: 0;
	height: 1px;
	width : 99%;
	background-color: rgb(123, 118, 118);
}
/* 푸터 버튼 */
.footer-btn{
	padding: 0px 9px;
	
}

#footerbtn {
	border: 0;
	outline: 0;
	border-radius: 2px;
	height: 30px;
	padding: 0px 9px;
	font-size: 12px;
	color: rgb(229, 229, 229);
	background-color: rgb(81, 81, 81);
}

#footerbtn:hover {
	background-color: #3366cc; 
}

/****************************course-container****************************/
.course-container {
	cursor: pointer;
	width: 399px;
	height: 172px;
	padding: 15px 16px;
	overflow: hidden;
}

.course-container .course-icon {
	float: left;
	width: 205px;
	height: 144px;
	overflow: hidden;
}

.course-container .course-icon img {
	width: 100%;
}

.course-container .course-info {
	float: left;
	height: 100%;
	margin-left: 15px;
}

.course-container .course-info .course-title {
	height: 41px;
	font-size: 18px;
	font-weight: bold;
}

.course-container .course-info .p-info {
	height: 62px;
	font-size: 14px;
}

.course-container .course-info .tag-blue {
	float: left;
	display: flex; /* for center-align */
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	width: 48px;
	height: 20px;
	border-radius: 10px;
	background-color: rgb(50, 108, 249);
	color: white;
	font-size: 10px;
	text-align: center;
	vertical-align: middle;
}


.course-container .course-info .tag-pink {
	float: left;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	width: 48px;
	height: 20px;
	border-radius: 10px;
	background-color: rgb(255, 52, 120);
	color: white;
	font-size: 10px;
	text-align: center;
}
