@charset "UTF-8";
@import "clearfix.css";
@import "main.css";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/****************************header****************************/
#header {
	max-width: 100%;
	height: 80px;
	padding: 0px 20px;
	border-bottom: 1px solid rgb(174, 174, 174);
}

#header #logo {
	float: left;
	height: 60px;
	margin: 10px;
}

#header #nav ul li {
	float: right;
	font-size: 16px;
	margin-left: 40px;
	margin-top: 32px;
}

#header #login {
	float: right;
	height: 40px;
	width: 160px;
	margin: 20px 0px 20px 40px;
	border: 1px solid rgb(174, 174, 174);
}

#header #login ul li {
	float: right;
	margin: 13px 16px 13px 16px;
	font-size: 14px;
	font-weight: 700;
}