@charset "UTF-8";@charset "UTF-8";
@import "clearfix.css";
@import "includes.css";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');


/******************** 게시판 머리글 ********************/

h1 {
	margin-left: 550px;
	margin: 80px 0px 64px 0px;
	font-size: 46px;
	font-family: 'Nanum Gothic';
	font-weight: 700;
	letter-spacing: -1px;
	text-align: center;
}

/******************** 게시판 테이블 ********************/

table {
	width:83%;
	margin-left: 9.5%;
	border-top: solid 2px;
	border-bottom: solid 2px; 
	border-collapse: collapse;
}

#board_title {
	padding: 18px 10px;
	font-size : 13pt;
}

#top {
	border-bottom: solid 2px;
}
	
tr>#id {
	font-weight : bold;
}
tr>#id, #date, #up {
	padding-bottom: 18px;
	padding-left: 10px;
	font-size : 13pt;
}
tr>#date, #up {
	text-align: right;
	margin-left: 500px;
}
#date{
	padding-left: 900px;
}
#up {
	padding-right: 10px;
}
#content {
	padding: 25px 0px;
	padding-left: 10px;
	line-height:200%
}

/** 표 내부 행 **/
.line_top {
	float: left;
	margin-left: 78px;
	font-size : 12pt;
	text-align: center;
	margin-top: 8px;
	color: rgb(50, 108, 249);
	font-weight: bold;
}
.line_bottom {
	padding-left: 117px;
	padding-right: 95px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: solid 1px #ccc;
	color: #9e9e9e;
	font-size : 13pt;
}

/** 북마크 버튼 **/
.top {
	height: 36px;
	border-bottom: solid 1px #ccc;
}
.join {
	background-color: #fff;
	border: solid 1px #9e9e9e;
	color: #9e9e9e;
}

/******************** 작성자 버튼 ********************/

#writer_btnM {margin-left: 79.5%;}
#modify_m {
	width : 82px;
	height: 35px;
	background-color: #dedede;
	color: #666;
	border:none;
}
#delete {
	margin-left: 5px;
	width : 82px;
	height: 35px;
	background-color: #000;
	color: #fff;
	border:none;
}

/******/
#writer_btnS {margin-top: 2px;}

/******/
#writer_btnXS {margin-top: 16px;}
/********************** 댓글 **********************/

#top_comment {
	margin-left: 9.5%;
	margin-top: 100px;
	margin-bottom: 10px;
	font-size : 16pt;
	font-weight : bold;
}
#comment-box {padding-top: 25px;}
#commentbox {
	margin-left: 9.5%;
	width : 83%;
	border-top: solid 2px #ccc;
	border-bottom: solid 2px #ccc;
	padding-bottom: 20px;
}
.id {
	font-size : 14pt;
	font-weight : bold;
	margin-left: 10px;
	margin-top: 23px;
}
.comment {
	font-size : 12pt;
	margin-left: 10px;
	margin-top: 3px;
}
#comment_, #comment_btn, #REcomment_btn {
	font-size : 12pt;
	margin-left: 10px;
	margin-top: 5px;
	float: left;
}
#comment_btn {
	margin-right: 10px;
}
#bold {
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 3px;
	font-size : 12pt;
	font-weight : bold;
	float: left;
}
#replybox {
	width: 86%;
	height: 35px;
	float: left;
	margin-left: 31px;
	margin-bottom: 25px;
	border: solid 1px #c0c0c0;
	border-radius: 3px;
}
#reply_btn {
	width: 63px;
	height: 35px;
	margin-left: 10px;
	margin-bottom: 25px;
	padding-top: 3px;
	font-size: 10pt;
	border: none;
	border: solid 1px #000;
	background-color: #fff;
	color: #000;
	border-radius: 3px;
}
.glyphicon glyphicon-open {
	width: 300px;
	height: 305px;
}

/******************** 목록 버튼 ********************/

#list {
	margin-left: 86%;
	margin-top: 45px;
	width : 82px;
	height: 35px;
	background-color: #fff;
	color: #000;
	font-size : 12pt;
	border: solid 2px #000;
	border-radius: 5px;
}
