@charset "UTF-8";
@import "clearfix.css";
@import "includes.css";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/* ****************** 레이아웃 ****************** */
#wrap {max-width:1200px;}
#wrap>#content {padding: 10px 0px; margin-bottom: 150px;}

/*--------------------------- 날씨 ----------------------------*/	
.weather li{
	float: left;
	font-size: 14px;
	text-align: center;
	font-weight: bold;
	margin-left: 40px;
	width: auto;
}

.weather ul {
	width: auto;
	padding-left: 200px;
	padding-top: 10px;
	position: relative;
	display: inherit;
}

.weather {
	position: relative;
	background-color: #B0C4DE;
	height: 40px;
	overflow: hidden;				/* 하단 공백 삭제 */
	min-width: 1200px;				/* 화면 크기 변해도 텍스트 고정 */
}

/* 날씨 아이콘 */
.weather .icon {
	margin: auto;
	position: relative;
	bottom: 15px;
	left: 30px;	
}
/*--------------------------- 사진 편집 ----------------------------*/		
.slide {
	margin: auto;
	width: 1500px;
	height: 800px;
	/* slide_button의 position absolute가 컨테이너 안쪽에서 top, left, right offset이 적용될 수 있도록 relative를 준다. (기본값이 static인데, static인 경우 그 상위 컨테이너로 나가면서 현재 코드에선 html을 기준으로 offset을 적용시키기 때문) */
	position: relative;
	
	/* 현재 슬라이드 오른쪽에 위치한 나머지 슬라이드 들이 보이지 않도록 가림 */
	overflow: hidden;
	
	/* slide drag를 위해 DOM요소가 드래그로 선택되는것을 방지 */
	user-select: none;
	
	/* layout */
	display: flex;
	flex-wrap: nowrap;
}

.slide img {
	width: 1500px;
	height: 800px;
}

/* ---------------------------- 사진 한 장씩 효과 ---------------------------- */
.slide_item {
  /* layout */
  display: flex;
  align-items: center;
  justify-content: center;

  /* position - 버튼 클릭시 left offset값을 적용시키기 위해 */
  position: relative;
  left: 0px;

  /* size - 없으면 크기에 따라 다음 사진이 보임 */
    width: 1500px;
    height: 800px;
    
  /* flex item의 flex-shrink는 기본값이 1이므로 컨테이너 크기에 맞게 줄어드는데, 슬라이드를 구현할 것이므로 줄어들지 않도록 0을 준다. */
  flex-shrink: 0;

  /* transition */
  transition: left 0.15s;
}

/* ---------------------------- 양옆 화살표 버튼 ---------------------------- */
.slide_button {
  /* layout */
  display: flex;
  justify-content: center;
  align-items: center;

  /* position */
  position: absolute;
  /* 버튼이 중앙에 위치하게 하기위해 계산 */
  top: calc(50% - 8px);

  /* size */
  width: 25px;
  height: 25px;

  /* style */
  border-radius: 100%;
  background-color: #eaeaea;
  cursor: pointer;
}

  /* 화살표 위치 조정 */
.slide_prev_button {
  left: 10px;
}
.slide_next_button {
  right: 10px;
}

/* ---------------------------- 하단 버튼 - 페이지네이션 스타일---------------------------- */
ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.slide_pagination {
  /* layout */
  display: flex;
  gap: 5px;

  /* position */
  position: absolute;
  bottom: 0;
  /* left:50%, translateX(-50%)를 하면 가로 가운데로 위치시킬 수 있다. */
  left: 50%;
  transform: translateX(-50%);
}

.slide_pagination > li {
  /* 현재 슬라이드가 아닌 것은 투명도 부여 */
  color: #7fb5ff88;
  cursor: pointer;
  font-size: 25px;
}
.slide_pagination > li.active {
  /* 현재 슬라이드 색상은 투명도 없이 */
  color: #7fb5ff;
}

/*---------------------------- 글귀 -----------------------------*/
.main-text{
	font-size: 16px;
	color: rgb(117, 117, 117);
	text-align: center;
	padding: 90px 13px 70px;
}

.main-text span {
	color: #3399ff;
	font-weight: bold;
	font-size: 18px;
}
