@charset "UTF-8";
@import "clearfix.css";
@import "includes.css";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/* ****************** 레이아웃 ****************** */
#wrap {max-width:1200px;}
#wrap>#content {padding: 10px 0px; margin-bottom: 150px;}

/*----------------------------------------------------- 메인(Main) ----------------------------------------------------- */

/*--------------------------- 사진 편집 ----------------------------*/		
.slider{
    width: 1200px;
    height: 613px;
    position: relative;
    overflow: hidden; /* 현재 슬라이드 오른쪽에 위치한 나머지 슬라이드 들이 보이지 않도록 가림 */
}

.slider input[type=radio]{
    display: none;
}		

/*사진 슬라이드*/		
ul.imgs{
    padding: 0;
    margin: 0;
    list-style: none;    
}		

ul.imgs li{
    position: absolute;
    left: 0px;	/* 양 옆의 공백?*/
    transition-delay: 1s; /* 새 슬라이드가 이동해 오는 동안 이전 슬라이드 이미지가 배경이 보이도록 지연 */

    padding: 0;
    margin: 0;
}

ul.imgs{
    padding: 0;
    margin: 0;
    list-style: none;    
}		
ul.imgs li{
    position: absolute;
    left: 0px;
    transition-delay: 1s; /* 새 슬라이드가 이동해 오는 동안 이전 슬라이드 이미지가 배경이 보이도록 지연 */

    padding: 0;
    margin: 0;
}		

/* 라벨(사진 밑 이동버튼) */
.bullets{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    z-index: 2;
}		
.bullets label{
    display: inline-block;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.55);
    width: 20px;
    height: 20px;
    cursor: pointer;
}
/* 현재 선택된 불릿 배경 흰색으로 구분 표시 */
.slider input[type=radio]:nth-child(1):checked~.bullets>label:nth-child(1){
    background-color: #fff;
}
.slider input[type=radio]:nth-child(2):checked~.bullets>label:nth-child(2){
    background-color: #fff;
}
.slider input[type=radio]:nth-child(3):checked~.bullets>label:nth-child(3){
    background-color: #fff;
}
.slider input[type=radio]:nth-child(4):checked~.bullets>label:nth-child(4){
    background-color: #fff;
}		
		
/* 슬라이드 이동 애니메이션 효과 */		
.slider input[type=radio]:nth-child(1):checked~ul.imgs>li:nth-child(1){
    left: 0;
    transition: 0.5s;	/* 0.5초간 해당 이미지에서 머무름 */	
    z-index:1;
}
.slider input[type=radio]:nth-child(2):checked~ul.imgs>li:nth-child(2){
    left: 0;
    transition: 0.5s;
    z-index:1;
}
.slider input[type=radio]:nth-child(3):checked~ul.imgs>li:nth-child(3){
    left: 0;
    transition: 0.5s;
    z-index:1;
}
.slider input[type=radio]:nth-child(4):checked~ul.imgs>li:nth-child(4){
    left: 0;
    transition: 0.5s;
    z-index:1;
}



/*---------------------------- 메인 텍스트 -----------------------------*/
.main-text{
	font-size: 14px;
	color: rgb(117, 117, 117);
	text-align: center;
	padding-top : 90px;
	padding-left: 13px;
    padding-right: 13px;
}