@charset "UTF-8";
@import "includes.css";
@import "clearfix.css";

/*****************************wrap*****************************/
#wrap{
	height: 100vh;
	overflow-x: hidden; /* 이미지 크기로 인해 화면 깨짐 방지 */
	overflow-y: hidden;
}



/**************************sub-header**************************/
#sub-header #search-form {
	display: flex; /* 필터 메뉴 길이 flex-grow로 크기 조절*/
	width: 100%;
	height: 64px;
	border-bottom: 1px solid rgb(174, 174, 174);
}

/* 검색바 */
#sub-header #searchbar {
	display: flex; /* 요소들 세로로 가운데 정렬 하기 위해서 설정 */
	width: 400px;
	height: 100%;
	padding: 0px 20px;
	align-items: center;
	border-right: 1px solid rgb(174, 174, 174);
}

#sub-header #searchbar .glyphicon-search {
	width: 20px;
	color: rgb(217, 217, 217);
}

#sub-header #searchbar #search-input {
	height: 36px;
	width: 205px;
	margin: 0px 15px;
	border: 0px solid transparent;
}

#sub-header #searchbar input[type=radio] {
	display:none;
}

#sub-header #searchbar label {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

#sub-header #searchbar .btn-blue {
	width: 52px;
	height: 36px;
	border: 0px solid transparent;
	background-color: rgb(50, 108, 249);
	font-weight: 700;
	color: white;
	font-size: 13px;
}

#sub-header #searchbar .btn-grey {
	width: 52px;
	height: 36px;
	border: 0px solid transparent;
	background-color: rgb(245, 245, 245);
	color: rgb(174, 174, 174);
	font-weight: 700;
	font-size: 13px;
}

/* 필터 메뉴 */
#sub-header #filter-menu {
	display: flex; /* 요소들 세로로 가운데 정렬 */
	min-width: 800px;
	height: 100%;
	flex-grow: 1; /* 부모 display가 flex일 경우에만 사용 가능 (가로로 체우는 방식으로 크기 조절) */
	align-items: center;
	padding: 0px 12px 0px 8px;
}



#sub-header #filter-menu .fmenu-btn {
	display: flex;
	height: 34px;
	margin-right: 8px;
	border: 1px solid rgb(230, 230, 230);
	padding: 0px 10px;
	cursor: pointer;
	align-items: center;
	background-color: transparent;
	font-weight: 700;
	font-size: 13px;
}

#wrap #sub-header #filter-menu .fmenu-btn:hover {
	background-color: rgb(230, 230, 230);
}

#sub-header #filter-menu .fmenu-btn-selected {
	display: flex;
	height: 34px;
	margin-right: 8px;
	border: 1px solid rgb(50, 108, 249);
	color: rgb(50, 108, 249);
	padding: 0px 10px;
	cursor: pointer;
	align-items: center;
	background-color: transparent;
	font-weight: 700;
	font-size: 13px;
}

#sub-header #filter-menu .glyphicon-menu-down, #sub-header #filter-menu .glyphicon-menu-up {
	width: 12px;
	margin-left: 10px;
}

#filter-cate, #filter-dist, #filter-diff {
	height: 34px;
	position: relative;
	z-index: 900;
}

#filter-cate {
	width: 77px;
}
#filter-dist {
	width: 101px;
}
#filter-diff {
	width: 89px;
}

#menu-cate {
	display: none;
	box-sizing: border-box;
	overflow: auto;
	width: 318px;
	/*max-height: 335px;*/
	padding: 30px;
	border: 1px solid rgb(174, 174, 174);
	margin-top: 10px;
	background-color: #fff;
}

#menu-dist {
	display: none;
	box-sizing: border-box;
	overflow: auto;
	width: 410px;
	/*max-height: 335px;*/
	padding: 30px;
	border: 1px solid rgb(174, 174, 174);
	margin-top: 10px;
	background-color: #fff;
}

#menu-diff {
	display: none;
	box-sizing: border-box;
	overflow: auto;
	width: 318px;
	/*max-height: 335px;*/
	padding: 30px;
	border: 1px solid rgb(174, 174, 174);
	margin-top: 10px;
	background-color: #fff;
}

.filter-menu {
	outline: none;
}

.filter-menu h3 {
	font-size: 18px;
}
.filter-menu p {
	font-size: 13px;
	color:  rgb(217, 217, 217);
	margin-bottom: 10px;
}
.filter-menu hr {
	border: 1px solid rgb(230, 230, 230);
}
.filter-menu .menu-option {
	cursor: pointer;
	display: flex;
	align-items: center;
	margin: 10px 0px;
}
.filter-menu .menu-option img {
	width: 20px;
	margin-right: 10px;
}

.filter-menu .menu-chk {
	display: none;
}

#sub-header #filter-buttons {
	display: flex;
	margin-right: 15px;
	height: 100%;
	align-items: center;
}

#sub-header #filter-buttons #btn-reset {
	width: 34px;
	height: 34px;
	background-color: transparent;
	border: 1px solid rgb(230, 230, 230);
}

#wrap #sub-header #filter-buttons .fmenu-btn:hover {
	background-color: rgb(230, 230, 230);
}

/****************************content****************************/
#content {
	width: 100%;
	display: flex;
	height: calc(100% - 144px);
	overflow: hidden;
}

#content #result-list {
	width: 400px;
	border-right: 1px solid rgb(174, 174, 174);
	overflow-y: scroll; /* 세로로 스크롤링 가능하게 설정 */
}

#content #result-list::-webkit-scrollbar {
  display: none;
}

#content #result-list li .course-container{
	box-sizing: border-box;
	border: 2px solid #fff;
	border-bottom: 1px solid rgb(174, 174, 174);
}

#content #result-list li .selected {
	border: 2px solid rgb(50, 108, 249);
	color: rgb(50, 108, 249);
}

#content #result-list #no-result {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#content #result-list #no-result h3 {
	font-size: 18px;
	font-weight: 900;
}

#content #result-list #no-result p {
	font-size: 12px;
	margin-bottom: 12px;
}

#content #result-list #no-result #btn-write-form {
	border: 1px solid rgb(50, 108, 249);
	background-color: rgb(50, 108, 249);
	padding: 10px;
	color: #fff;
	font-size: 13px;
	font-weight: 900;
}

#content #map-info {
	float: left;
	width: calc(100% - 400px);
}

/****************************카카오 지도****************************/
.overlay-wrap {
	box-sizing: border-box;
	background-color: #fff;
	padding: 5px 10px;
	border-radius: 5px;
	border: 2px solid rgb(174, 174, 174);
}

.overlay-wrap .info-cont {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.overlay-wrap .info-cont h4 {
	font-weight: 900;
	font-size: 15px;
}

.overlay-wrap .info-cont .btn-map-course-view {
	border: transparent;
	background-color: rgb(50, 108, 249);
	padding: 5px;
	margin-top: 5px;
	color: #fff;
	font-size: 12px;
	font-weight: 900;
}

/* ****************************** Range Slider ****************************** */
.menu-range{
    position: relative;
    width: 100%;
    height: 100px;
    margin-top: 30px;
}
input[type="range"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
}
.slider-track{
    width: 100%;
    height: 5px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 5px;
}
input[type="range"]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 5px;
}
input[type="range"]::-moz-range-track{
    -moz-appearance: none;
    height: 5px;
}
input[type="range"]::-ms-track{
    appearance: none;
    height: 5px;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    background-color: #3264fe;
    cursor: pointer;
    margin-top: -9px;
    pointer-events: auto;
    border-radius: 50%;
}
input[type="range"]::-moz-range-thumb{
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #3264fe;
    pointer-events: auto;
}
input[type="range"]::-ms-thumb{
    appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #3264fe;
    pointer-events: auto;
}
input[type="range"]:active::-webkit-slider-thumb{
    background-color: #ffffff;
    border: 3px solid #3264fe;
}
#menu-dist h3 {
	float: left;
}
#menu-dist .values{
    float: right;
    position: relative;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    color: rgb(50, 108, 249);
}
#slider-1 {
	z-index: 901;
}
#slider-2 {
	z-index: 902;
}