@charset "UTF-8";
@import "includes.css";
@import "clearfix.css";

#wrap {
	min-width: 360px;
}

#header {
	display: flex;
	justify-content: center;
}

#content #display {
	display: flex;
	justify-content: center;
	border: 2px solid rgb(172, 172, 172);
	margin: 50px 0px;
	font-size: 45px;
	font-weight: 900;
}

#content #btn-start-stop {
	display: flex;
	justify-content: center;
	font-size: 50px;
	color: rgb(50, 108, 249);
}

#content #buttons {
	display: flex;
	justify-content: center;
	margin: 50px 0px 250px 0px;
}

button {
	background-color: transparent;
	border: none;
}

#content #buttons button {
	width: 80px;
	height: 40px;
	margin: 0px 20px;
	border: 2px solid rgb(172, 172, 172);
	font-weight: 900;
}

