@charset "UTF-8";
@import "includes.css";
@import "clearfix.css";

/**************************************************************************/
/* 마이페이지-메인/나의코스/즐겨찾기 *************************************************************/
/**************************************************************************/
.header {background-color: #F1F1F1; text-align: center;   padding: 20px;}

/* .subHeader {height: 90px; border: 1px solid #808080; text-align: center;   padding: 20px;} */
.subHeader .menuBar-open {width: 30px; height:30px; float: left; margin-left:40px;}
.subHeader #title {height: 48px; line-height:48px; text-align: center;
					font-size:36px; font-weight:bold; margin:20px;}
.subHeader .myHome {width: 45px; height: 45x; vertical-align:bottom;}
.subHeader .edit-btn {width: 40px; height:40px; vertical-align:center;}


.resultView {min-width:1200px; position: absolute; left: 50%; transform: translateX(-50%); display: center;}
.resultList {display:inline-block; text-align:center;  padding: 50px 33px 0px 33px;}

.resultList #listTitle {display:center; font-size: 18px; text-align:left;  padding:0px; margin-bottom:10px;}
.resultList .listBox {height:360px;}
.resultList ol {width:100%; display :center; }
.resultList li {width:(25%-margin);float : left ; list-style: none; margin:0px 5px 30px 15px}
.resultList li .courseImg {width:260px; height: 186px ; padding:0px;}

.resultList li #textBox {text-align:left; width:(100%-padding) ; height: 80px ; padding-left:5px; margin-top:5px; line-height:60px;}

.resultList .courseTitle {width:255px; height:20px; margin-bottom:5px;padding:0px;}
.resultList #courseName {position: absolute; font-weight:bold; font-size:16px; line-height: 20px;}
.resultList .besticon {vertical-align:bottom; width:20px; height:20px;}
.resultList .img-icons {float:right; width: 65px; height:24px; margin-right:3px; padding:0px; text-align:right;}
.resultList .img-icons .like-btn {vertical-align:top; margin-left:3px; padding:0px; width:(100%-margin); height:24px;}
.resultList .img-icons .bookmark-btn {vertical-align:top; margin-left:3px; padding:0px; width:(100%-margin); height:24px;}

.resultList li #textBox #courseInfo {font-size:13px; color: gray; line-height: 20px;}
.resultList li #textBox .newpost {width:20px; height:20px; vertical-align:bottom;}





/**************************************************************************/
/* 마이페이지-메뉴바 *************************************************************/
/**************************************************************************/
.menuBar-display {width:1200px; background-color:none;}
.menuBar { width:400px; min-height:600px; text-align:left; line-height: 50px; border-right:solid 1px gray;}
.menuBar #menuList {font-size: 14px; line-height:50px;}


.menuBar .menu1 {width:(100%-padding); height:(20%-padding); border-bottom:solid 1px #000000; text-align:left;  padding:20px 30px; }
.menuBar .menu1 #mypage {font-size: 18px; font-weight:bold;float:left; }
.menuBar .menu1 .myHome {width: 20px; height: 20px; }
.menuBar .menu1 .menuBar-close {text-align:right; }
.menuBar .menu1 .menuBar-close-btn {width: 20px; height: 20px; }


.menuBar .menu2 {width:(100%-padding); height:(60%-padding); border-bottom:solid 1px #000000; text-align:left;  padding:20px 30px; overflow:scroll;}
.menuBar .menu2 #bookmark {font-size: 18px; float:left; font-weight:bold;}
.menuBar .bmStar {width: 20px; height: 20px;}
.menuBar .menu2 .bookmark-btn {text-align:right;}
.menuBar .plus-btn {width: 20px; height: 20px;}
.menuBar .minus-btn {width: 20px; height: 20px;}
.menuBar #menuList .editName {width: 16px; height: 16px; float:right; color: gray; margin-top:17px;}


.menuBar .menu3 {width:(100%-padding); height: (20%-padding); text-align:left;  padding:20px 30px; }
.menuBar .menu3 #members {font-size: 18px; font-weight:bold; }
.menuBar #setting {width: 20px; height: 20px; vertical-align:center;}









/**************************************************************************/
/* 마이페이지-나의 기록 *************************************************************/
/**************************************************************************/
.myReport {position: absolute; left: 50%; transform: translateX(-50%); display: center; text-align:center; 
			width:1200px; height:700px; padding:0px 30px;}

.myReport #calendar {float:left; width:750px; line-height: 50px;}
.myReport #calendar #dateForm {width:750px; height:50px; }
.myReport #calendar #calDate {font-size: 28px; font-weight:bold; float:left; text-align:left;}
.myReport #calendar #dateSearch {font-size: 20px; float:right;}
.myReport #calendar #calAPI {text-align:center; line-height:600px; width:750px; height:600px; border:solid 1px #73AD21; }


.myReport #reportList {width:380px; text-align:left; float:right;}
.myReport #reportList .listTitle {width:380px; height:50px; text-align:center; line-height:50px; margin:0px}
.myReport #reportList .listTitle .monthReport {background-color:rgb(50, 108, 249); color:white; font-size:18px; float:left; width:190px; border:rgb(50, 108, 249) 1px solid;}
.myReport #reportList .listTitle .todayReport {font-size:18px; float:right; width:190px;border:rgb(101,101,101) 1px solid;}


.myReport #reportList .reportContent {width:380px; height:120px; border:solid 0.5px rgb(101,101,101); border-top:none; margin:0px; padding:10px 0px 0px 10px;}
.myReport #reportList .contentImg {width:100px; height:100px; border:solid 1px #000000; float:left; margin-right:20px; }
.myReport #reportList .contentTitle {font-size:16px; width:360px; font-weight:bold;line-height:28px; }
.myReport #reportList .modify-del-icons {margin:10px 20px 0px 0px;}
.myReport #reportList .content {font-size:14px; line-height:20px; }
.myReport #reportList .contentDate {font-size:12px; color:gray; line-height:20px;}
/* .myReport #reportList .contentModify {font-size:12px; display:inline-block; margin-top:5px;} */
/* .myReport #reportList .contentModify .myreport-modify-btn {background-color:rgb(50, 108, 249); color:white;
									margin-right:3px; border-style: none; border-color: none;}
.myReport #reportList .contentModify .myreport-del-btn {background-color:red; color:white;
									border-style: none; border-color: none; } */












