@charset "UTF-8";
@import "clearfix.css";
@import "includes.css";

/* =======================공통======================= */
body {font-size: 14px;}
.pointer {cursor: pointer;}
.bold {font-weight: 700;}
/* radio 버튼 초기화 */
input[type=radio] {display:none;}
/* =======================레이아웃======================= */
#header {left:0; z-index: 1;  /* top:0; */ /* position: fixed; */ width:100%; background-color:white;}
#wrap {position: relative; height: 100vh; /* margin:auto; */ }
#content {/* position: relative; */ padding:50px 0px; margin:auto; margin-bottom:150px; max-width:1200px; min-height:70vh; 
				-ms-overflow-style: none; /* IE and Edge */
   					scrollbar-width: none; /* Firefox */
   					object-fit: cover; }





/**************************************************************************/
/* 마이페이지-메인/나의코스/즐겨찾기 *************************************************************/
/**************************************************************************/
.subHeader .menuBar-open {width: 30px; height:30px; float: left; margin-left:40px;}
.subHeader #title {height: 48px; line-height:48px; text-align: center;
					font-size:36px; font-weight:bold; margin:20px;}
.subHeader .myHome {width: 45px; height: 45x; vertical-align:bottom;}
.subHeader .edit-btn {width: 40px; height:40px; vertical-align:center;}


.resultView {min-width:1200px; margin:auto;}
.resultList {display:inline-block; text-align:center;  padding: 50px 33px 0px 33px;}

.resultList #listTitle {display:center; font-size: 18px; text-align:left;  padding:0px; margin-bottom:10px;}
.resultList .listBox {height:360px;}
.resultList ol {width:100%; display :center; }
.resultList li {width:(25%-margin);float : left ; list-style: none; margin:0px 5px 30px 15px}
.resultList li .courseImg {width:260px; height: 186px ; padding:0px;}

.resultList li #textBox {text-align:left; width:(100%-padding) ; height: 80px ; padding-left:5px; margin-top:5px; line-height:60px;}

.resultList .courseTitle {width:255px; height:20px; margin-bottom:5px;padding:0px;}
.resultList #courseName {position: absolute; font-weight:bold; font-size:16px; line-height: 20px;}
.resultList .besticon {vertical-align:bottom; width:20px; height:20px;}
.resultList .img-icons {float:right; width: 65px; height:24px; margin-right:3px; padding:0px; text-align:right;}
.resultList .img-icons .like-cancel-btn {vertical-align:top; margin-left:3px; padding:0px; width:(100%-margin); height:24px;}
.resultList .img-icons .bookmark-cancel-btn {vertical-align:top; margin-left:3px; padding:0px; width:(100%-margin); height:24px;}

.resultList li #textBox #courseInfo {font-size:13px; color: gray; line-height: 20px;}
.resultList li #textBox .newpost {width:20px; height:20px; vertical-align:bottom;}





/**************************************************************************/
/* 마이페이지-메뉴바 *************************************************************/
/**************************************************************************/
/* .menuBar-display {width:1200px; background-color:none;} */
#menuBar { width:400px; height: 100%; position: absolute; /*fixed*/ 
			z-index: 900; /* Stay on top */
			/* top: 80px; */  /* Stay at the top */
			/* left: 0; */
			text-align:left; line-height: 50px; 
			background-color:white; border-right:solid 1px gray;
			overflow-x: scroll; }
#menuBar::-webkit-scrollbar {
  display: none;
}

#menuBar a:hover {color: #c0c0c0;}
#menuBar #menuList {font-size: 14px; line-height:50px;
					-ms-overflow-style: none; /* IE and Edge */
   					scrollbar-width: none; /* Firefox */
   					object-fit: cover;
   					}


.entireMenu{position: sticky; top: 0;}

#menuBar .menu1 { border-bottom:solid 1px #000000; text-align:left;  padding:20px 30px; }
#menuBar .menu1 #mypage {font-size: 18px; font-weight:bold;float:left; }
#menuBar .menu1 .myHome {width: 20px; height: 20px; }
#menuBar .menu1 .menuBar-close {text-align:right; }
#menuBar .menu1 .menuBar-close-btn {width: 20px; height: 20px; }


#menuBar .menu2 { border-bottom:solid 1px #000000; text-align:left;  padding:20px 30px; }
#menuBar .menu2 #bookmark {font-size: 18px; float:left; font-weight:bold;}
#menuBar .bmStar {width: 20px; height: 20px;}
#menuBar .menu2 .bookmark-btn {text-align:right;}
#menuBar .plus-btn {width: 20px; height: 20px;}
#menuBar .minus-btn {width: 20px; height: 20px;}
#menuBar #menuList .editName {width: 16px; height: 16px; float:right; color: gray; margin-top:17px;}


#menuBar .menu3 { height: 200px; padding:20px 30px; }
#menuBar .menu3 #members {font-size: 18px; font-weight:bold; }
#menuBar #setting {width: 20px; height: 20px; vertical-align:center;}










/**************************************************************************/
/* 마이페이지-나의 기록 *************************************************************/
/**************************************************************************/
.myReport {position: absolute; left: 50%; transform: translateX(-50%); display: center; text-align:center; 
			width:1200px; height:700px; padding:0px 30px;}

.myReport #calendar {float:left; width:750px; line-height: 50px;}
.myReport #calendar #calendarApi { -ms-overflow-style: none; /* IE and Edge */
   									scrollbar-width: none; /* Firefox */
   									object-fit: cover;}/* 스크롤바 없애는게 안됨... */

/* .myReport #calendar #dateForm {width:750px; height:50px; }
.myReport #calendar #calDate {font-size: 28px; font-weight:bold; float:left; text-align:left;}
.myReport #calendar #dateSearch {font-size: 20px; float:right;}
.myReport #calendar #calAPI {text-align:center; line-height:600px; width:750px; height:600px; border:solid 1px #73AD21; } */


.myReport #reportList {width:380px; text-align:left; float:right;}
.myReport #reportList .listTitle {width:380px; height:50px; text-align:center; line-height:50px; margin:0px}
.myReport #reportList .listTitle .monthReport {background-color:rgb(50, 108, 249); color:white; font-size:18px; float:left; width:190px; border:rgb(50, 108, 249) 1px solid;}
.myReport #reportList .listTitle .todayReport {font-size:18px; float:right; width:190px;border:rgb(101,101,101) 1px solid;}


.myReport #reportList .reportBox {width:380px; height:600px; border:#ccc 0.5px solid;
									overflow-y: scroll;
									overflow-x: hidden;
									-ms-overflow-style: none; /* IE and Edge */
									scrollbar-width: none; /* Firefox */
   									object-fit: cover;}
.myReport #reportList .reportContent {width:380px; height:120px; border-bottom:#ccc 0.5px solid;  margin:0px; padding:10px 0px 0px 10px;}
.myReport #reportList .contentImg {width:100px; height:100px; border:none; float:left; margin-right:20px; }
.myReport #reportList .contentTitle {font-size:16px; width:360px; font-weight:bold;line-height:28px; }
.myReport #reportList .modify-del-icons {margin:10px 20px 0px 0px;}
.myReport #reportList .content {font-size:14px; line-height:20px; }
.myReport #reportList .contentDate {font-size:12px; color:gray; line-height:20px;}


.fc-direction-ltr .fc-daygrid-event {padding:1px; margin: 1px; background-color:rgba(255, 52, 120, 0.5); border:none;}
.fc-event-title-container {padding:1px; margin: 1px; color:white; background-color:rgba(255, 52, 120, 0.5); line-height:14px; }




/* ---------------------모달창 공통(코스제목, 즐겨찾기)----------------------- */
.modal-header {text-align: center;}
.modal-header .modal-title {
	font-size: 18px;
	font-weight: 700;
	text-align: center;
}
.modal-dialog {
	width: 300px;
	height: auto;
	position: fixed;
	top: 20%;
	left: 40%;
	transform: translate(-50%, -50%);
}
.modal-body {
	padding: 16px 24px;
	text-align: left;
}

.modal-body .modal-body-detail {
	font-size: 10px;
	color: rgb(255, 255, 255);
	padding: 16px 24px;
	text-align: left;
}

/* ---------------------코스제목 수정(모달창)----------------------- */
.modal-body #title-update {
	width: 100%;
	height: 40px; 
	font-size: 14px;
}
.modal-footer .btn-primary {
	background-color: rgb(50, 108, 249);
	color: rgb(255, 255, 255);
}

/* ---------------------즐겨찾기 추가(모달창)----------------------- */
#bookmark-list .modal-header .modal-title {
	display: inline-block;
}
#bookmark-list .modal-header img {
	position:relative;
	top: 5px;
}
#bookmark-list .modal-body ul li {
	margin: 10px auto;
	vertical-align: middle;
}
#bookmark-list .modal-body ul li div {
	display: inline-block;
}
#bookmark-list .modal-body input[type="checkbox"] {
	width: 20px;
	height: 20px;
	margin-right: 10px;
	border-width: thick;
	position: relative;
	top: 1.5px;
}
#bookmark-list .modal-body label {
	font-size: 15px;
	position: relative;
	top: -1.5px;
}




