@charset "UTF-8";
@import "main.css";
@import "clearfix.css";

/**************************************************************************/
/* 마이페이지-메인/나의코스/즐겨찾기 *************************************************************/
/**************************************************************************/
.header {background-color: #F1F1F1; text-align: center;   padding: 20px;}

.subHeader {height: 90px; border: 1px solid #808080; text-align: center;   padding: 20px;}
.subHeader #menuBar-open {width: 50px; height: 50px; float: left; border: 1px solid #73AD21;  margin: 20px;}
.subHeader #title {height: 50px; line-height:50px; text-align: center;  border: 1px solid #73AD21;
					font:46px "나눔고딕"; font-weight:bold; margin:20px;}
.subHeader #myHome {width: 50px; height: 50px;}



.resultView {min-width:1200px; position: absolute; left: 50%; transform: translateX(-50%); display: center;}
.resultList {display:inline-block; text-align:center; border:solid 1px #111111; padding: 50px 33px 0px 33px;}

.resultList #listTitle {display:center; font-size: 28px; text-align:left; border: 1px solid #73AD21; padding:0px; margin:0px 0px 20px 0px;}
.resultList ol { width:100%; display :center; border: 1px solid #73AD21;}
.resultList li {width:(25%-margin); float : left ; list-style: none; border: 1px solid #73AD21; margin:0px 10px 40px 10px}
.resultList li #imgBox {width:280; height: 186px ;}
.resultList li #textBox {text-align:left; width:(100%-padding) ; height: 50px ;  border: 1px solid #73AD21; padding:10px;}
.resultList li #textBox #courseName {font-weight:bold; font-size:16px; line-height: 30px; }
.resultList li #textBox #courseInfo {font-size:14px; color: gray;}





/**************************************************************************/
/* 마이페이지-메뉴바 *************************************************************/
/**************************************************************************/
.menuBar { width:400px; min-height:600px; background-color:lightyellow; text-align:left; line-height: 50px}
.menuBar #list {font-size: 20px; line-height:50px;}


.menuBar .menu1 {width:(100%-padding); height:(20%-padding); border-bottom:solid 1px #000000; text-align:left;  padding:20px 30px; }
.menuBar .menu1 #mypage {font: 24px "나눔고딕"; font-weight:bold;}
.menuBar #myHome {width: 24px; height: 24px;}

.menuBar .menu2 {width:(100%-padding); height:(60%-padding); border-bottom:solid 1px #000000; text-align:left;  padding:20px 30px;}
.menuBar .menu2 #bookmark {font-size: 24px; float:left; font-weight:bold;  }
.menuBar #bmStar {width: 24px; height: 24px;}
.menuBar .menu2 #bookmark-btn {text-align:right}
.menuBar #plus-btn {width: 24px; height: 24px;}
.menuBar #minus-btn {width: 24px; height: 24px;}

.menuBar .menu3 {width:(100%-padding); height: (20%-padding); /* border-bottom:solid 1px #000000; */ text-align:left;  padding:20px 30px; }
.menuBar .menu3 #members {font: 24px "나눔고딕"; font-weight:bold; }
.menuBar #setting {width: 24px; height: 24px;}









/**************************************************************************/
/* 마이페이지-나의 기록 *************************************************************/
/**************************************************************************/
.myReport {position: absolute; left: 50%; transform: translateX(-50%); display: center; text-align:center; 
			border:solid 1px #111111; width:1100px; height:700px; padding:50px; margin:50px 0px}

.myReport #calendar {float:left; width:750px; border:solid 1px #000000; text-align:left; line-height: 50px;}
.myReport #calendar #calDate {font: 38px "나눔고딕"; text-align:left}
.myReport #calendar #dateSearch {font: 24px "나눔고딕";}
.myReport #calendar #dSearch-btn {font: 24px "나눔고딕";}
.myReport #calendar #calAPI {text-align:center; line-height:600px; width:750px; height:600px; border:solid 1px #73AD21;}


.myReport #reportList {float:right; height:600px; width:340px; text-align:left; }
.myReport #reportList #listTitle {height:100px; line-height:100px; text-align:right; }


.myReport #reportList #contentBox {height:100px; border:solid 1px #000000; padding:9px;}
.myReport #reportList #contentImg {width:95px; height:95px; border:solid 1px #000000; float:left; margin:0px 15px 0px 0px;}
.myReport #reportList #contentTitle {font: 20px "나눔고딕"; font-weight:bold;line-height:40px;}
.myReport #reportList #content {font: 18px "나눔고딕"; line-height:30px; }
.myReport #reportList #contentDate {font: 14px "나눔고딕"; color:gray; line-height:30px;}
























