@charset "UTF-8";
@import "main.css";
@import "clearfix.css";

/**************************************************************************/
/* 마이페이지-메인 *************************************************************/
/**************************************************************************/
.header {background-color: #F1F1F1; text-align: center;   padding: 20px;}

.subHeader {height: 90px; border: 1px solid #808080; text-align: center;   padding: 20px;}
.subHeader #menuBar-open {width: 50px; height: 50px; float: left; border: 1px solid #73AD21;  margin: 20px;}
.subHeader #title {height: 50px; line-height:50px; text-align: center;  border: 1px solid #73AD21;
					font:46px "나눔고딕"; font-weight:bold; margin:20px;}
.subHeader #myHome {width: 50px; height: 50px;}




.resultList {position: absolute; left: 50%; transform: translateX(-50%); display: center; text-align:center; border:solid 1px #111111; width:90%; padding: 50px;}

.resultList #listTitle {display:center; font: 28px "나눔고딕"; text-align:left; border: 1px solid #73AD21; padding:0px; margin:0px 0px 20px 0px;}
.resultList ol { width:100%; display :center; border: 1px solid #73AD21;}
.resultList li { width:23%; float : left ; list-style: none; border: 1px solid #73AD21; margin:0px 20px 0px 0px}
.resultList li #imgBox {width:100%; height: 186px ;  border: 1px solid #73AD21; }
/* .resultList li #textBox {text-align:left; width: 250px ; height: 50px ;  border: 1px solid #73AD21; }
.resultList li #textBox #courseName {font-weight:bold; font:20px "나눔고딕"; line-height: 30px; }
.resultList li #textBox #courseInfo {font:16px "나눔고딕"; color: gray;} */





/**************************************************************************/
/* 마이페이지-메뉴바 *************************************************************/
/**************************************************************************/
.menuBar { width:400px; min-height:600px; border:solid 1px #000000; text-align:left; line-height: 50px}
.menuBar ol { border:solid 1px #000000;}
.menuBar #list { border:solid 1px #000000; font: 20px "나눔고딕"; line-height:50px;}


.menuBar .menu1 {width:330px; height: 60px; border:solid 1px #000000; text-align:left;  padding:20px 30px 100px 30px; }
.menuBar .menu1 #mypage {font: 24px "나눔고딕"; font-weight:bold;}
.menuBar #myHome {width: 24px; height: 24px;}

.menuBar .menu2 {width:330px; height: 180px; border:solid 1px #000000; text-align:left;  padding:20px 30px 100px 30px;}
.menuBar .menu2 #bookmark {font: 24px "나눔고딕"; float:left; font-weight:bold;  }
.menuBar #bmStar {width: 24px; height: 24px;}
.menuBar .menu2 #bookmark-btn {text-align:right}
.menuBar #plus-btn {width: 24px; height: 24px;}
.menuBar #minus-btn {width: 24px; height: 24px;}

.menuBar .menu3 {width:330px; height: 20px; border:solid 1px #000000; text-align:left;  padding:20px 30px 70px 30px; }
.menuBar .menu3 #members {font: 24px "나눔고딕"; font-weight:bold; }
.menuBar #setting {width: 24px; height: 24px;}









/**************************************************************************/
/* 마이페이지-나의 기록 *************************************************************/
/**************************************************************************/
.myReport {position: absolute; left: 50%; transform: translateX(-50%); display: center; text-align:center; 
			border:solid 1px #111111; width:1100px; height:700px; padding:50px; margin:50px 0px}

.myReport #calendar {float:left; width:750px; border:solid 1px #000000; text-align:left; line-height: 50px;}
.myReport #calendar #calDate {font: 38px "나눔고딕"; text-align:left}
.myReport #calendar #dateSearch {font: 24px "나눔고딕";}
.myReport #calendar #dSearch-btn {font: 24px "나눔고딕";}
.myReport #calendar #calAPI {text-align:center; line-height:600px; width:750px; height:600px; border:solid 1px #73AD21;}


.myReport #reportList {float:right; height:600px; width:340px; text-align:left; }
.myReport #reportList #listTitle {height:100px; line-height:100px; text-align:right; }


.myReport #reportList #contentBox {height:100px; border:solid 1px #000000; padding:9px;}
.myReport #reportList #contentImg {width:95px; height:95px; border:solid 1px #000000; float:left; margin:0px 15px 0px 0px;}
.myReport #reportList #contentTitle {font: 20px "나눔고딕"; font-weight:bold;line-height:40px;}
.myReport #reportList #content {font: 18px "나눔고딕"; line-height:30px; }
.myReport #reportList #contentDate {font: 14px "나눔고딕"; color:gray; line-height:30px;}
























