@charset "UTF-8";@charset "UTF-8";
@import "clearfix.css";
@import "includes.css";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');


/******************** 게시판 머리글 ********************/

h1 {
	margin-left: 550px;
	margin: 80px 0px 64px 0px;
	font-size: 46px;
	font-family: 'Nanum Gothic';
	font-weight: 700;
	letter-spacing: -1px;
	text-align: center;
}

/******************** 게시판 테이블 ********************/

table {
	width: 80%;
	margin-left: 170px;
	border-top: solid 2px;
	border-bottom: solid 2px; 
	border-collapse: collapse;
}
#board_title {
	padding: 18px 10px;
	font-size : 13pt;
}
#top {border-bottom: solid 2px;}
tr>#id {font-weight : bold;}
tr>#id, #date, #up {
	padding-bottom: 18px;
	padding-left: 10px;
	font-size : 13pt;
}
tr>#date, #up {
	text-align: right;
	margin-left: 500px;
}
#up {padding-right: 10px;}
#content {
	padding: 25px 0px;
	padding-left: 10px;
	line-height:200%
}

/********************* 첨부 사진 *********************/

.image {
	width : 300px;
	height: 270px;
	margin-left: 10px;
	padding-bottom: 30px;
}

/******************** 작성자 버튼 ********************/

#writer_btn {margin-left: 79.5%;}
#modify {
	width : 82px;
	height: 35px;
	background-color: #dedede;
	color: #666;
	border:none;
}
#delete {
	margin-left: 5px;
	width : 82px;
	height: 35px;
	background-color: #000;
	color: #fff;
	border:none;
}






