@charset "UTF-8";
@import "clearfix.css";
@import "includes.css";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

#wrap>#content {margin: auto; max-width: 1200px; height: auto;}
a:link {color: #000;}
a:visited {color: #000;}
a:hover {color: #000;}
a:active {color: #000;}

/******************** 게시판 머리글 ********************/

h1 {
	margin-left: 400px;
	margin: 80px 0px 64px 0px;
	font-size: 46px;
	font-family: 'Nanum Gothic';
	font-weight: 700;
	letter-spacing: -1px;
	text-align: center;
}

/******************* 소분류 카테고리 *******************/

#top_side {
	margin: 20px auto;
	display: flex;
}
#top_side > ul {
	margin: auto;
}
#top_side > ul > li	{
	list-style-type: none;
	float: left;
	font-size: 20px;
	margin: 0px 8px;
}
/** 밑줄, 글자색 없애기 **/
/* a {
	text-decoration: none;
	color: inherit;
} */


/***************** 함께하기 만들기 버튼 *****************/

#together-nav {width:100%; height:90px;}
#to_make {
	float: left;
	margin-top: 28px;
	margin-left: 52px;
}
#together_make {
	float: left;
	width: 160px;
	height: 50px;
	background-color: rgb(50, 108, 249);
	border: none;
	color: white;
}

/****************** 태그와 참여 분류 ******************/

#rightside {
	margin-top: 10px;
	float: right;
	padding:35px 43px;
	font-size : 13pt;
}
#rightside ul > li {float: left;}
#tag_btn, #joined_btn {
	margin-left: 7px;
}

/******************** 함께하기 표 ********************/

#list .chart table {
	width: 350px;
	height: 150px;
	border: solid 1px;
	float: left;
	border: solid 1px #ccc;
	margin: 20px 5px;
	margin-left: 43px;
}
.chart tbody {cursor: pointer;}
#list {
	height: auto;
	margin-top : 20px;
	display: block;
	overflow: auto;
}
/* .chart {
	text-align: center;
} */
/** 표 내부 행 **/
.line_top {
	float: left;
	margin-left: 78px;
	font-size : 12pt;
	text-align: center;
	margin-top: 9px;
	color: rgb(50, 108, 249);
	font-weight: bold;
}
.line_bottom {
	padding-left: 117px;
	padding-right: 95px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: solid 1px #ccc;
	color: #9e9e9e;
	font-size : 13pt;
}
/** 북마크 버튼 **/
.top {
	height: 36px;
	border-bottom: solid 1px #ccc;
}
.mark {
	background-color: #fff;
	padding: 0px;
}
.content {
	font-size : 13pt;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 30px;
	display: flex; /* 가운데 정렬 */
	justify-content: center; /* 가운데 정렬 */
}
.content_course {
	width: 320px;
	font-size : 13pt;
	padding: 20px 30px 20px 30px;
	display: flex; /* 가운데 정렬 */
	justify-content: center; /* 가운데 정렬 */
}
.bookmark {
	margin-left: 10%;
	margin-top: 3px;
	margin-right: 8px;
	margin-bottom: 5px;
	padding: 0px;
	background-color: #fff;
	border:none;
}
.image {
	width : 18px;
	height: 18px;
}
.join {
	background-color: #fff;
	border: solid 1px #9e9e9e;
	color: #9e9e9e;
}
/** 기간 지난 함께하기 **/
.over {
	width: 350px;
	height: 150px;
	border: solid 1px;
	float: left;
	border: solid 1px #ccc;
	margin: 20px 5px;
	margin-left: 43px;
	background-color: #757575;
}
.mark_over {background-color: #757575;}
.bookmark_over {
	margin-left: 12%;
	margin-top: 5px;
	margin-right: 8px;
	margin-bottom: 5px;
	padding: 0px;
	background-color: #757575;
	border:none;
}
.line_bottomOver {
	padding-left: 117px;
	padding-right: 95px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: solid 1px #ccc;
	color: #000;
	font-size : 13pt;
}
.image_over {
	width : 18px;
	height: 18px;
	background-color: #757575;
}
.date_over {
	float: left;
	margin-left: 78px;
	font-size : 12pt;
	text-align: center;
	margin-top: 9px;
	color: #000;
	font-weight: bold;
}
.joinOver {
	background-color: rgb(50, 108, 249);
	border: solid 1px #9e9e9e;
	color: #fff;
}

/********************** 페이지 **********************/

#page {
	display: grid;
	place-items: center;
	margin-top: 50px;
	margin-bottom: 80px;
}
.ul, .ol, .li	{
	list-style-type: none;
	float: left;
	margin-left: 15px;
}
	