@charset "UTF-8";
@import "includes.css";
@import "main.css";

/* =======================공통======================= */
body {font-size: 14px;}
.bold {font-weight: 700;}
.pointer {cursor: pointer;}
/* radio 버튼 초기화 */
input[type=radio] {display:none;}
/* =======================레이아웃======================= */
#wrap {max-width:1200px;}
#wrap>#content {padding: 10px 0px; margin-bottom: 150px;}
/* =======================타이틀======================= */
#wrap #title {
	margin: 80px 0px 64px 0px;
	font-size: 46px;
	font-family: 'Nanum Gothic';
	font-weight: 700;
	letter-spacing: -1px;
	text-align: center;
}

/* =======================content======================= */
/* p 태그 공통 */
#content .together-form p {
	display: inline-block;
	font-size: 15px;
	margin-right: 10px;
	padding: 0px;
}
/* -----------------------테이블 설정---------------------- */
/* 테이블 선 */
#content .together-form {
	margin-bottom: 50px;
	border: 1px solid rgb(204, 204, 204);
}

/* 테이블 타이틀 */
#content .together-form h2 {
	line-height: 60px;
	height: 60px;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
}

/* 테이블 */
.together-form table tr th {
	height: 70px;
	min-width: 150px;
	color: rgb(34,34,34);
	font-size: 15px;
	font-weight: 700;
	background-color: rgb(240, 240, 240);
	border-top: 1px solid rgb(204, 204, 204);
	text-align: center;
	vertical-align: middle;
}
.together-form table tr td {
	padding: 12px 20px;
	border-top: 1px solid rgb(204, 204, 204);
}

/* -------------------------텍스트박스----------------------------- */
.together-form input[type="text"] {
	height: 46px;
	padding: 0px 15px;
	box-sizing: border-box;
	border:  1px solid rgb(223, 223, 223);
}
.txt-long {width: 100%;}
.txt-short {width: 110px; margin: 0px 12px 0px 0px;}
input[name="address"] {width: 89%;}

/* ---------------------버튼설정-------------------- */
/* 검은색 버튼 */
.together-form #address-btn, .course-form #course-pic div label {
	border-radius: 3px;
	background-color: rgb(35, 45, 74);
	color: rgb(255, 255, 255);
}
/* 흰색 버튼 */
label, #btn-wrap>button, .box {
	padding: 0px 15px;
	color: rgb(102, 102, 102);
	border: 1px solid rgb(217, 217, 217);
	border-radius: 3px;
	background-color: rgb(255,255,255);
}
/* 파란색 버튼 */
input[type="radio"]:checked+label, #btn-wrap>.add, .blue {
	color: rgb(255,255,255);
	border-color: rgb(50, 108, 249);
	background-color: rgb(50, 108, 249);
}

/* 버튼 크기 */
/* radio */
label {
	display: inline-block;
	text-align: center;
	width: 82px;
	line-height: 46px;
	margin-right: 12px;
}
.box {
	display: inline-block;
	text-align: center;
	width: 72px;
	line-height: 38px;
	margin-right: 12px;
}

/* -------------------코스지정----------------------- */
.together-form input[name="address"] {width: 89%;}
.together-form .guide {color: rgb(136, 136, 136);}
.together-form .address-form {margin: 15px 0px 10px 0px;}
.together-form #address-btn {
	width: 90px;
	height: 46px;
	margin-right: 10px;
	
}

/* -------------------코스정보----------------------- */
/* 인원 폼 */
.together-form input[type="number"] {height:46px; width: 110px;}
/* 상세내용 폼 */
.together-form textarea {width:100%; height:390px;}

/* -------------------하단 버튼----------------------- */
#btn-wrap {text-align: center;}
#btn-wrap>button {
	width: 160px;
	height: 50px;
	font-size: 15px;
}
#btn-wrap>.add {margin-left: 12px;}