@charset "UTF-8";
@import "clearfix.css";
@import "includes.css";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');


/******************** 게시판 머리글 ********************/

h1 {
	margin-left: 400px;
	margin: 80px 0px 64px 0px;
	font-size: 46px;
	font-family: 'Nanum Gothic';
	font-weight: 700;
	letter-spacing: -1px;
	text-align: center;
}

/******************** 제목과 작성일 ********************/

#title {
	margin-top: 115px;
	display: flex; /* 가운데 정렬 */
	justify-content: center; /* 가운데 정렬 */
	font-size : 23pt;
	font-weight : bold;
}
#date {
	margin-left: 70%;
	margin-top: 5px;
	margin-bottom: 10px;
	font-size : 16pt;
	font-weight : bold;
	color: rgb(50, 108, 249);
}

/********************* 지도 사진 *********************/

.map {
	width : 90%;
	height: 750px
}
#map_sample {margin-left: 15%;}

/********************** 테이블 **********************/

table {
	margin-top: 25px;
	width : 83%;
	height: 450px;
	margin-left: 17.2%;
}
tr {height: 100px}
/** 아이콘 **/
#map_icon, #stopwatch, #calendar, #marking, #user {
	width: 30px;
	height: 30px;
	float: left;
}
#stopwatch, #calendar, #map_icon , #user {margin-right: 15px;}
#marking {margin-right: 8px;}
/** 글씨 **/
#route, #d-date, #distance, #user_num, #location{
	margin-top: 4px;
	width: 300px;
	font-size : 13pt;
	font-weight : bold;
}
#content {
	padding-top: 3px;
	font-size : 14pt;
	padding-left: 6px;
	line-height: 180%
}

/******************** 작성자 버튼 ********************/

.comment-inline {display :inline-block;}
.comment {
	display :inline-block;
	margin-right: 8px;
}
#writer_btnM {margin-left: 79.5%;}
#modify_m {
	width : 82px;
	height: 35px;
	background-color: #dedede;
	color: #666;
	border:none;
}
#delete_m {
	width : 82px;
	height: 35px;
	background-color: #000;
	color: #fff;
	border:none;
}
/******/
#writer_btnS {
	margin-top: 2px;
	margin-bottom: 15px;
	display :inline-block;
}
#modify_s {
	width : 23px;
	height: 30px;
	background-color: #fff;
	color: #666;
	font-size : 10pt;
	border:none;
}
#delete_s {
	margin-left: 1px;
	width : 23px;
	height: 30px;
	background-color: #fff;
	color: #666;
	font-size : 10pt;
	border:none;
}

/********************** 댓글 **********************/

#top_comment {
	margin-left: 15.5%;
	margin-top: 85px;
	margin-bottom: 10px;
	font-size : 15pt;
	font-weight : bold;
}
#comment-box {padding-top: 25px;}
#commentbox {
	margin-left: 15%;
	width : 75%;
	border-top: solid 2px #ccc;
	border-bottom: solid 2px #ccc;
}
.id {
	font-size : 14pt;
	font-weight : bold;
	margin-left: 10px;
	margin-top: 23px;
}
.comment {
	font-size : 12pt;
	margin-left: 10px;
	margin-top: 3px;
}
#comment_, #comment_btn, #REcomment_btn {
	font-size : 12pt;
	margin-left: 10px;
	margin-top: 5px;
	float: left;
}
#comment_btn {
	margin-right: 10px;
}
#bold {
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 3px;
	font-size : 12pt;
	font-weight : bold;
	float: left;
}
.REcomment {
	margin-left: 10px;
	margin-top: 20px;
	font-size : 11pt;
}
#REcomment_btn {
	font-size : 11pt;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
	float: left;
}
#REcomment_bottom {
	font-size : 11pt;
	margin-left: 10px;
	margin-top: 15px;
	margin-bottom: 35px;
}
#replybox {
	width: 87.5%;
	height: 35px;
	float: left;
	margin-left: 31px;
	margin-bottom: 25px;
	border: solid 1px #c0c0c0;
	border-radius: 3px;
}
#reply_btn {
	width: 66px;
	height: 35px;
	margin-left: 10px;
	padding-top: 3px;
	margin-bottom: 25px;
	font-size: 10pt;
	border: none;
	border: solid 1px #000;
	background-color: #fff;
	color: #000;
	border-radius: 3px;
}
.glyphicon glyphicon-open {
	width: 300px;
	height: 305px;
}

/******************** 목록 버튼 ********************/

#list {
	margin-left: 86%;
	margin-top: 65px;
	width : 82px;
	height: 35px;
	background-color: #fff;
	color: #000;
	font-size : 12pt;
	border: solid 2px #000;
	border-radius: 5px;
}

