@charset "UTF-8";
@import "clearfix.css";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');


/******************** 게시판 머리글 ********************/

h1 {
	margin-left: 400px;
	margin: 80px 0px 64px 0px;
	font-size: 46px;
	font-family: 'Nanum Gothic';
	font-weight: 700;
	letter-spacing: -1px;
	text-align: center;
}

/******************* 소분류 카테고리 *******************/

ul, ol, li	{
	list-style-type: none;
	float: left;
	margin-left: 8px;
}
/** 밑줄, 글자색 없애기 **/
a {
	text-decoration: none;
	color: inherit;
}
#top_side {
	margin-left: 375px;
	margin-top: 15px;
	
}

/***************** 함께하기 만들기 버튼 *****************/

#to_make {
	float: left;
	margin-top: 15px;
	margin-left: 20px;
}
#together_make {
	float: left;
	padding: 15px 25px;
	background-color: rgb(50, 108, 249);
	border:none;
	color: white;
}

/****************** 태그와 참여 분류 ******************/

#rightside {
	margin-left: 747px;
	padding:35px 43px;
}

/******************** 함께하기 표 ********************/

table {
	width: 25%;
	height: 150px;
	border: solid 1px;
	float: left;
	margin-left: 20px;
	border: solid 1px #ccc;
}
/** 표 내부 선 정리 **/
.line_top {
	border-bottom: solid 1px #ccc;
	height: 30px;
}
.line_bottom {border-top: solid 1px #ccc;}
/** 태그 아이콘 **/
th>.bookmark {
	width : 23px;
	height: 20px;
	margin-left: 15px;
}

/*************** 함께하기 리스트 더보기 버튼 ***************/

#more {
	width: 45px;
	height: 45px;
	margin-left: 445px;
	border-radius: 50px;
}
	
	