@charset "UTF-8";
@import "clearfix.css";
@import "includes.css";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');


/******************** 게시판 머리글 ********************/

h1 {
	margin-left: 550px;
	margin: 80px 0px 64px 0px;
	font-size: 46px;
	font-family: 'Nanum Gothic';
	font-weight: 700;
	letter-spacing: -1px;
	text-align: center;
}

/******************** 게시판 텍스트 ********************/

/** 테두리 **/
#writebox {
	border: solid 1px #c0c0c0;
	margin: 0px 130px 0px 130px;
}
#option_line, #title_line, #content_line, #course_line, #together_line {margin-top: 37px;}
#together_line {margin-bottom: 37px;}
/** 선택 항목들 **/
#option, #title, #course, #together {
	float: left;
	margin-left: 58px;
	font-size : 15pt;
}
#option, #title {margin-top: 6px;}
#course, #together {margin-top: 1px;}
#contentbox {margin-left: 50px;}
#option_list {
	width : 100px;
	height: 40px;
	margin-left: 37px;
}
#titlebox {
	width : 630px;
	height: 40px;
	margin-left: 37px;
}
#contentbox {
	width : 92%;
	height: 500px;
}
#file {margin-right: 37px;}
/** 버튼 **/
#course_choice, #together_choice {
	margin-left: 30px;
	border: none;
	background-color: #fff;
	color: #ccc;
}
#folder, #man {margin-right: 10px;}
#user_btn {
	width: 100%;
	display: flex;
	justify-content: center;
}
#cancel {
	width : 100px;
	height: 40px;
	display: grid;
	place-items: center;
	background-color: #dedede;
	color: #666;
	border:none;
}
#post {
	width : 100px;
	height: 40px;
	display: grid;
	place-items: center;
	margin-left: 5px;
	background-color: rgb(50, 108, 249);
	border:none;
	color: white;
}
.fav, .co, .fil, .ev {
	cursor: pointer;
	margin-bottom: 6px;
	margin-top: 6px;
	font-size: 11.2pt;
}
.blackBtn {
	color: #000 !important;
}

/********************* 사진 등록 *********************/

/* 검은색 버튼 */
.course-form #address-btn, .course-form h2 label {
	border-radius: 3px;
	background-color: rgb(35, 45, 74);
	color: rgb(255, 255, 255);
	border-color: transparent;
}
.course-form h2 {margin-left: 45px;}
/* 사진추가 드래그앤 드롭 */
/* 파일선택 버튼 가리기 */
.course-form h2 input[type="file"] {display: none;}
.course-form h2 label {
	width: 123px;
	line-height: 40px;
	margin-right: 20px;
	font-size: 15px;
	text-align: center;
}
.course-form #drop {
    width: 92%;
	height: 350px;
	margin-left: 45px;
	background-color: rgb(224, 224, 224);
	padding: 10px;
	overflow: auto;
	margin-bottom: 37px;
}
/* 사진 없을때 */
.course-form #drop #fileDragDesc {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 80px 0px
}
.course-form #drop #fileDragDesc #photo-icon {
	display: block;
}
.course-form #drop #fileDragDesc p {
	display: block;
	margin: 15px 0px 30px 0px;
}
/* 사진 있을때 */
#filesList .thumb {
	display: inline-block;
	width: auto;
	height: auto;
	margin: 10px;
}
#filesList .thumb span {
	background-color: rgb(255,255,255);
	border-radius: 50px;
}
#filesList .thumb img {
	width: 190px;
	height: 150px;
	object-fit: cover;
}


/********************** 모달 **********************/

#courseModal {margin: auto;}
.modal-dialog{
	display: flex;
	justify-content: center;
	margin-top: 150px;
}
.modal-title {
	margin-left: 15px;
	font-size : 13pt;
}
.modal-content {
	width: 380px;
}
.courseCate, .togetherCate {
	margin-top: 35px;
	margin-left: 55px;
	height: 50px;
	overflow: visible;
	font-size : 12pt;
}
.dropdown-toggle {
	width: 230px;
	height: 40px;
	text-align: left;
}
.dropdown-menu {
	position: relative;
	top: 0;
	z-index: 1050;
	float: none;
	width: 230px;
}
.caret {
	float: right;
	margin-top: 10px;
}
.courseChoose, .togetherChoose {
	height: 50px;
	margin-top: 45px;
	margin-bottom: 35px;
	margin-left: 55px;
	font-size : 12pt;
}
#close {
	margin-bottom: 3px;
	margin-left: 38px;
	float: left;
	border: none;
	background-color: #fff;
	color: #c0c0c0;
	font-size : 13pt;
}
#c-save, #t-save {
	margin-bottom: 3px;
	margin-right: 38px;
	float: right;
	border: none;
	background-color: #fff;
	color: rgb(50, 108, 249);
	font-size : 13pt;
}




