<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>회원가입</title>
	<link rel="stylesheet" href="../../../assets/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="../../../assets/css/user.css">
</head>
<body>
	<div id="wrap">
		<div id="header">
			<a href="../main/index.html"><img id="logo" src="../../../assets/image/main/logo.jpg"></a>
			
			<div id="login">
				<ul>
					<li><a href="">회원가입</a></li>
					<li><a href="">로그인</a></li>
				</ul>
			</div> <!-- login -->
			
			<div id="nav">
				<ul>
					<li><a href="../together/together.html">함께하기</a></li>
					<li><a href="../board/board.html">게시판</a></li>
					<li><a href="../best/best.html">베스트</a></li>
					<li><a href="../map/map.html">지도</a></li>
				</ul>
			</div> <!-- nav -->
		</div> <!-- header -->
		
		<div id="content">
			<div id="join-form">
				<h2>회원가입</h2>
				<hr>
				<div id="form-container">
					<form action="" method="post">
						<div class="form-input">
							<label for="name">이름</label><input id="name" name="name" type="text">
						</div>
						<div class="form-input">
							<label for="id">아이디</label><input id="id" name="id" type="text">
							<button type=button id="btn-check">중복확인</button>
						</div>
						<div class="form-input">
							<label for="password">비밀번호</label><input id="password" name="password" type="password"><br>
						</div>
						<div class="form-input">
							<label for="password2">비밀번호 확인</label><input id="password2" name="password2" type="password"><br>
						</div>
						<div class="form-input">
							<label for="ph">전화번호</label><input id="ph" name="ph" type="text">
						</div>
						<div class="form-input">
							<label for="email">이메일</label><input id="email" name="email" type="text">
						</div>
						<div class="submit-container">
							<button type="submit" id="btn-submit">회원가입</button>
						</div>
					</form>
				</div> <!-- form-container -->
			</div><!-- join-form -->
		</div> <!-- content -->
		
		<div class="footer">
			<div class="footer-text">
				<p>주식회사 조아</p>
				<p>대표 : 최보승</p>
				<p>사업자 번호 : 123-456-789</p>
				<p>서울특별시 관악구 봉천동 862 - 1</p>
				<br>
				<p>고객센터 | 평일 9 : 30 ~ 18 : 30, 점심시간 : 12 : 00 ~ 13 : 00 (토, 일요일,
					공휴일 휴무)</p>
				<p>tel. 02 - 1111 - 1111</p>
				<p>fax. 02 - 1111 - 1111</p>
				<p>email. joa@joa.co.kr</p>
			</div>
			<br>
			<div class="footer-btn">
				<button id="footerbtn" type="button">자주묻는 질문</button>
				<button id="footerbtn" type="button">1:1 문의</button>
			</div> 
			<br>
			<hr class="my-hr1">
			<p id="footer-Copyright">JOA, Inc. All rights reserved.</p>
	
		
		</div> <!-- footer -->
	</div> <!-- wrap -->
</body>
</html>