<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>로그인</title>
	<link rel="stylesheet" href="../../../assets/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="../../../assets/css/user.css">
</head>
<body>
	<div id="wrap">
		<div id="header">
			<a href="../main/index.html"><img id="logo" src="../../../assets/image/main/logo.jpg"></a>
			
			<div id="login">
				<ul>
					<li><a href="">회원가입</a></li>
					<li><a href="">로그인</a></li>
				</ul>
			</div> <!-- login -->
			
			<div id="nav">
				<ul>
					<li><a href="../together/together.html">함께하기</a></li>
					<li><a href="../board/board.html">게시판</a></li>
					<li><a href="../best/best.html">베스트</a></li>
					<li><a href="../map/map.html">지도</a></li>
				</ul>
			</div> <!-- nav -->
		</div> <!-- header -->
			
		<div id="content">
			<div id="login-form">
				<h2>로그인</h2>
				<hr>
				<p>서비스 이용을 위해 로그인 해주세요.</p>
				<div id="form-container">
					<form action="" method="post">
						<label for="id">아이디</label><br>
						<input id="id" name="id" type="text"><br>
						<label for="password">비밀번호</label><br>
						<input id="password" name="password" type="password"><br>
						<p>
							<a href="join-form.html">회훤가입</a>
							<a href="">비밀번호 재설정</a>
						</p>
						<button id="btn-submit" type="button">로그인</button>
					</form>
				</div><!-- form-container -->
			</div><!-- login-form -->
		</div> <!-- content -->
		
		<div class="footer">
			<div class="footer-text">
				<p>주식회사 조아</p>
				<p>대표 : 최보승</p>
				<p>사업자 번호 : 123-456-789</p>
				<p>서울특별시 관악구 봉천동 862 - 1</p>
				<br>
				<p>고객센터 | 평일 9 : 30 ~ 18 : 30, 점심시간 : 12 : 00 ~ 13 : 00 (토, 일요일,
					공휴일 휴무)</p>
				<p>tel. 02 - 1111 - 1111</p>
				<p>fax. 02 - 1111 - 1111</p>
				<p>email. joa@joa.co.kr</p>
			</div>
			<br>
			<div class="footer-btn">
				<button id="footerbtn" type="button">자주묻는 질문</button>
				<button id="footerbtn" type="button">1:1 문의</button>
			</div>
			<br>
			<hr class="my-hr1">
			<p id="footer-Copyright">JOA, Inc. All rights reserved.</p>
	
		</div> <!-- footer -->
	</div> <!-- wrap -->
</body>
</html>
