<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>대가리</title>
	<link rel="stylesheet" href="../../../assets/css/main.css">
</head>
<body>
	<div id="header">
		<img id="logo" src="../../../assets/image/main/logo.jpg">
		
		<div id="login">
			<ul>
				<li><a href="">회원가입</a></li>
				<li><a href="">로그인</a></li>
			</ul>
		</div> <!-- login -->
		
		<div id="nav">
			<ul>
				<li><a href="../together/together.html">함깨하기</a></li>
				<li><a href="../board/board.html">게시판</a></li>
				<li><a href="../best/best.html">베스트</a></li>
				<li><a href="../map/map.html">지도</a></li>
			</ul>
		</div> <!-- nav -->
	</div> <!-- header -->
</body>
</html>