<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	   <header>
      <div id="main-header">
         <h1>
            <img src="C:\javaStudy\workspace_web\JOA\webapp\assets\images\joalogo.jpg" />
         </h1>
      </div>
      <!-- /header -->
	
   <nav>
      <div class="main-nav" id="main-navmenu">
         
         <div id="nav-content">
            <a href="/Map" class="Map_link"> 
            <span class="Map_name" data-hover>지도</span>
            </a>
         </div>

         <div id="nav-content">
            <a href="/Best" class="Best_link"> 
            <span class="Best_name" data-hover>베스트</span>
            </a>
         </div>

         <div id="nav-content">
            <a href="" class="Noticeboard_link"> 
            <span class="Noticeboard_name" data-hover>게시판</span>
            </a>
         </div>

         <div id="nav-content">
            <a href="" class="Noticeboard_link"> 
            <span class="Noticeboard_name" data-hover>함께하기</span>
            </a>
         </div>

      </div>
   </nav>
   <!-- /nav -->
   </header>
</body>
</html>