<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="../../../assets/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="../../../assets/css/read.css" rel="stylesheet" type="text/css">
</head>
<body>


	<div id="wrap">
	
		<h1>게시판</h1>
		
			<div>
				<table>
					<thead>
						<tr>
							<th colspan="3" id="board_title">[소통]도림천 다녀오는 길</th>
						</tr>
						<tr id="top">
							<th id="id">신림러</th>
							<th id="date">2022.07.24</th>
							<th id="up">조회수: 47</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td colspan="3" id="content">오늘 도림천 다녀오면서 저번에 같이 달리기했던 깜이님 만났어요!<br>
											그래서 같이 마트도 다녀왔어요~~~~~<br>
											오늘 날씨 너무 덥고 힘들고 심심했는데 무척 재미있었어요!<br>
											다음에 같이 또 달리는 날이 있으면 좋겠네요!
							</td>
						</tr>
						<tr>
							<td>
								<img class="image" src="../../../assets/image/board/window.jpg">
								<img class="image" src="../../../assets/image/board/flower.jpg">
							</td>
						</tr>
					</tbody>
				</table>
			</div><!-- table -->
			
			<br>
			
			<!-- 수정, 삭제 버튼 -->
			<div id="writer_btn">
				<button type="submit" id="modify">수정</button>
				<button type="submit" id="delete">삭제</button>
			</div>
			
			<div>
				댓글
			</div>
		
	</div><!-- wrap -->	


</body>
</html>