<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="../../../assets/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="../../../assets/css/writeForm.css" rel="stylesheet" type="text/css">
</head>
<body>


	<div id="wrap">
	
		<h1>게시판</h1>
		
		<div id="writebox">
		
			<div id="option_line">
				<p id="option">항목</p>
				<select id="option_list">
					<option value="question">질문</option>
					<option value="commute">소통</option>
					<option value="post">후기</option>
					<option value="together">함께</option>
				</select>
			</div>
			
			<div>
				<p id="title">제목</p>
				<input type="text" id="titlebox">
			</div>
			
			<div><input type="text" id="contentbox"></div>
			
			<div>
				<p id="file">파일선택</p>
				<input type="text" id="filebox">
				<button>파일첨부</button>
			</div>
			
			<div>
				<p>코스선택</p>
				<button>첨부</button>
			</div>
			
			<div>
				<p>함께하기</p>
				<button>첨부</button>
			</div>
			
		</div><!-- writebox -->	
		
	</div><!-- wrap -->	


</body>
</html>